<div class="listing-popup-page-container edit-page-container">
    <div class="details-wrapper">
        <div class="d-flex my-3 justify-content-between">
            <div class="row breadcrumb-container mb-4">
                <div class="col-12">
                    <app-listing-popup-breadcrumb
                        [replace]="{fundName: 'Fund Details & Documentation ( ' + detail.easeRename_dcdmFundName + ' )'}"
                        icon="/assets/images/data_configuration_grey@2x.png">
                    </app-listing-popup-breadcrumb>
                </div>
            </div>

            <button> class="edit-button"> <a [routerLink]="['edit']">Edit </a></button>
        </div>

        <!-- Fund Details  -->
        <div class="title-agmo-form">
            <h5 class="page-title my-3 ">Fund Details</h5>
        </div>

        <div class="title-divider"></div>

        <div class="agmo-form mb-5" *ngIf="detail">
            <div class="information mb-4">
                <div class="detail-label">Year to Date Performance</div>
                <div class="detail-data">{{detail.easeRename_dcdmYearToDatePerformance}}%</div>
            </div>

            <div class="information mb-4">
                <div class="detail-label">Return History</div>
                <div class="detail-data">1Y : {{detail.easeRename_dcdmReturnHistory.y1}}%</div>
                <div class="detail-data">2Y : {{detail.easeRename_dcdmReturnHistory.y2}}%</div>
                <div class="detail-data">3Y : {{detail.easeRename_dcdmReturnHistory.y3}}%</div>
                <div class="detail-data">5Y : {{detail.easeRename_dcdmReturnHistory.y5}}%</div>
            </div>
        </div>

        <!-- Fund Documentation -->
        <div class="title-agmo-form">
            <h5 class="page-title my-3 ">Fund Documentation</h5>
        </div>

        <div class="title-divider"></div>

        <div class="agmo-form mb-5" *ngIf="detail">
            <div class="information mb-4">
                <div class="detail-label">Fund Name</div>
                <div class="detail-data">{{detail.easeRename_dcdmFundName}}</div>
            </div>
            <div class="information mb-4">
                <div class="detail-label">Prospectus/ Information Memorandum</div>
                <div class="detail-data">{{detail.easeRename_dcdmMemorandum}}</div>
            </div>
            <div class="information mb-4">
                <div class="detail-label">Supplemental Prospectus</div>
                <div class="detail-data">{{detail.easeRename_dcdmSuppProspectus}}</div>
            </div>
            <div class="information mb-4">
                <div class="detail-label">Product Highlights Sheet</div>
                <div class="detail-data">{{detail.easeRename_dcdmHighlightSheet}}</div>
            </div>
            <div class="information mb-4">
                <div class="detail-label">Fund Factsheet</div>
                <div class="detail-data">{{detail.easeRename_dcdmFundFactsheet}}</div>
            </div>
            <div class="information mb-4">
                <div class="detail-label">Annual Report</div>
                <div class="detail-data">{{detail.easeRename_dcdmAnnualReport}}</div>
            </div>
            <div class="information mb-4">
                <div class="detail-label">Semi Annual Report</div>
                <div class="detail-data">{{detail.easeRename_dcdmSemiAnnualReport}}</div>
            </div>
        </div>
    </div>
</div>
