<div class="top-space huge-padding">
    <div class="filter-container mb-4">
        <div class="d-flex align-items-center">
            <mat-form-field class="agmo-search-label-container" >
                <mat-label class="agmo-search-mini-label">Search By</mat-label>
                <input matInput type="text" class="agmo-search-label" value="Notes" readonly>
            </mat-form-field>
            <mat-form-field class="agmo-search-container flex-grow-1" >
                <input matInput type="text" class="agmo-search-label" placeholder="Search" [formControl]="searchBarFormControl">
            </mat-form-field>
        </div>
    </div>

    <div class="row contain-container">
        <div class="col-12">
            <mat-table matSort class="agmo-table" [dataSource]="listingDataSource" (matSortChange)="onSortChange($event)">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef>No.</th>
                    <td mat-cell class="size-index" *matCellDef="let plannerNote">{{plannerNote.index}}</td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell  *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let plannerNote">
                        <a [routerLink]="[plannerNote.id]">
                        <div class="clickable agmo-two-lines-wrapper">{{plannerNote.title || '-'}}</div>
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell  *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let plannerNote">
                        <div class="agmo-two-lines-wrapper">{{plannerNote.description}}</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell  *matHeaderCellDef>Sent Date</th>
                    <td mat-cell class="text-left size-s" *matCellDef="let plannerNote">{{plannerNote.createdAt | date:'DD-MM-YYYY HH:mm' }}</td>
                </ng-container>

                <ng-container matColumnDef="threeDotMenu">
                    <th mat-header-cell  *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let plannerNote">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="three-dot-menu"></mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <span class="font-weight-bold dark-blue-text"
                                >
                                    <a [routerLink]="['/admin-planner-notes/detail', plannerNote.id, 'edit']">Edit
                                    </a></span>
                            </button>
                            <button mat-menu-item (click)="removePlannerNotes(plannerNote.id)">
                                <span class="font-weight-bold red-text">Remove</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <ng-container matColumnDef="loading">
                    <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                        <mat-progress-bar mode="query"></mat-progress-bar>
                    </td>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-data">No data</td>
                </ng-container>



                <tr class="no-data" mat-footer-row *matFooterRowDef="['loading']" [class.show]="isListingLoading"></tr>
                <tr class="no-data" mat-footer-row *matFooterRowDef="['noData']" [class.show]="isListEmpty()"></tr>
            </mat-table>

            <mat-paginator [length]="pagination.length" [pageSize]="pagination.pageSize" [pageSizeOptions]="pagination.pageSizeOptions" (page)="onPaginationChange($event)"></mat-paginator>
        </div>
    </div>

</div>
