.top-space {
    margin-top: 2rem;
}

.status-box {
    margin-right: 1rem;
    margin-left: 1rem;
}

.three-dot-menu:after {
    content: "\2807";
    font-size: 20px;
}

.mat-menu-item {
    .dark-blue-text {
        color: var(--dark-blue);
    }

    .red-text {
        color: red;
    }
}

td {
    &:last-child {
        text-align: end;
        width: 2%;
    }
}
