.sidebar {
    color: white;

    .menu {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 60px;
        outline: none;

        &:hover {
            background-color: #8524D1;
        }

        &.active {
            background-color: #8524D1;
            color: white;
            font-weight: 600;
        }

        img {
            float: left;
            margin-left: 21px;
            width: 24px;
        }

        .title {
            font-size: 14px;
            margin-left: 13px;
            margin-right: 4px;
        }
    }

    .version {
        bottom: 0;
        cursor: pointer;
        font-size: 8px;
        position: absolute;

        &.disabled-production {
            pointer-events: none;
        }
    }
}
