<!-- This is skeleton HTML required for the Listing page. -->
<div class="listing-page">

    <!-- This is required for the Popup page to overlay the Listing page. -->
    <div [class.show]="isDetailPopupShow">
        <!-- This spinner or loading button is to indicate popup page is loading. -->
        <div class="center">
            <mat-spinner></mat-spinner>
        </div>

        <!-- Popup page contain is render within here. -->
        <router-outlet (activate)="onOutletActivate()" (deactivate)="onOutletDeactivate($event)"></router-outlet>
    </div>

</div>
