/**
 Refer this to project's index.css/index.scss
 */

.listing-page {
    position: relative;

    .listing-popup-page {
        display: none;

        &.show {
            display: block;
        }

        .center {
            align-items: center;
            display: flex;
            height: 100%;
            margin: auto;
            width: 100px;
        }
    }

    .listing-popup-page, .listing-popup-page-container {
        height: 100%;
        left: 0;
        margin: 0;
        min-height: 100vh;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
