<div class="listing-popup-page-container edit-page-container">
    <div class="row breadcrumb-container mb-4">
        <div class="col-12">
            <app-listing-popup-breadcrumb
                [replace]="{fundName: detail.easeRename_dcdmFundName}"
                icon="/assets/images/data_configuration_grey@2x.png">
            </app-listing-popup-breadcrumb>
        </div>
    </div>

    <!-- Details -->
    <mat-accordion>
        <mat-expansion-panel [expanded]="true" class="mb-5" [class]="!panelOpenState ? 'mb-5' : 'mb-0'"
            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                    <h5 class="section-title">Edit Fund Details</h5>
            </mat-expansion-panel-header>

            <div class="title-divider"></div>

            <form *ngIf="editForm" class="mb-5" [formGroup]="editForm" [class.show-error]="showFormError">
                <div class="mt-4 row">
                    <div class="col-12">
                        <label>Year To Date Performance</label>
                        <div class="position-relative">
                            <input type="number" class="form-control agmo-input" formControlName="yearToDatePerformance">
                            <span class="percentage-yearToDate position-absolute">%</span>
                        </div>
                    </div>
                </div>

                <div class="mt-4 row">
                    <div class="col-12">
                        <label>Return History</label>
                        <div class="row">
                            <div class="col-3 pos-relative">
                                <label>1Y:</label>
                                <input type="number" class="form-control agmo-input" formControlName="y1History">
                                <span class="percentage-return-history">%</span>
                            </div>
                            <div class="col-3 pos-relative">
                                <label>2Y:</label>
                                <input type="number" class="form-control agmo-input" formControlName="y2History">
                                <span class="percentage-return-history">%</span>
                            </div>
                            <div class="col-3 position-relative">
                                <label>3Y:</label>
                                    <input type="number" class="form-control agmo-input" formControlName="y3History">
                                    <span class="percentage-return-history position-absolute">%</span>
                            </div>
                            <div class="col-3 pos-relative">
                                <label>5Y:</label>
                                <input type="number" class="form-control agmo-input" formControlName="y5History">
                                <span class="percentage-return-history">%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-5 row">
                    <div class="col-12 text-right">
                        <button [class.disable]="!this.editForm.valid" class="mat-button primary darkblue btn primary-submit-button border-0" (click)="onSubmit()">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- Documentation -->

    <mat-accordion>
        <mat-expansion-panel [expanded]="true" class="mb-5" [class]="!panelOpenState ? 'mb-5' : 'mb-0'"
            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <h5 class="section-title">Edit Fund Documentation</h5>
            </mat-expansion-panel-header>

            <div class="title-divider"></div>

            <form *ngIf="editForm" [formGroup]="editForm" [class.show-error]="showFormError">

                <div class="row">
                    <div class="col-12 position-relative">
                        <label>Fund Name: </label>
                        <input type="text" class="form-control agmo-input" formControlName="fundName">
                        <button class="info-btn" type="button" (click)="detailPopup()">i</button>
                    </div>
                </div>

                <div class="mt-4 row">
                    <div class="col-12">
                        <label>Fund Factsheet Link:</label>
                        <input type="text" class="form-control agmo-input" formControlName="factSheet">
                    </div>
                </div>

                <div class="mt-4 row">
                    <div class="col-12">
                        <label>Prospectus/ Information Memorandum Link:</label>
                        <input type="text" class="form-control agmo-input" formControlName="memorandum">
                    </div>
                </div>

                <div class="mt-4 row">
                    <div class="col-12">
                        <label>Product Highlights Sheet Link:</label>
                        <input type="text" class="form-control agmo-input" formControlName="highlightSheet">
                    </div>
                </div>

                <div class="mt-4 row">
                    <div class="col-12">
                        <label>Supplemental Prospectus:</label>
                        <input type="text" class="form-control agmo-input" formControlName="suppProspectus">
                    </div>
                </div>

                <div class="mt-4 row">
                    <div class="col-12">
                        <label>Annual Report Link:</label>
                        <input type="text" class="form-control agmo-input" formControlName="annualReport">
                    </div>
                </div>

                <div class="mt-4 row">
                    <div class="col-12">
                        <label>Semi Annual Report:</label>
                        <input type="text" class="form-control agmo-input" formControlName="semiAnnualReport">
                    </div>
                </div>

                <div class="mt-5 row">
                    <div class="col-12 text-right">
                        <button [class.disable]="!this.editForm.valid" class="mat-button primary darkblue btn primary-submit-button border-0" (click)="onSubmit()">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>
