.section-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.percentage-yearToDate {
    right: 8px;
}

.percentage-return-history {
    right: 25px;
}

.percentage-yearToDate, .percentage-return-history {
    bottom: 6px;
    font-weight: bold;
    position: absolute;
}

.info-btn {
    background-color: var(--dark-blue);
    border-radius: 50%;
    border: none;
    color: var(--white);
    height: 20px;
    position: absolute;
    right: 27px;
    top: 34px;
    width: 20px;
}
