.clickable {
    color: var(--dark-grey);
    cursor: pointer;
    text-decoration: none;

    &.not-clickable {
        color: var(--blue);
        font-weight: bold;
        pointer-events: none;
        text-decoration: none;
    }

    .data-config-icon {
        vertical-align: middle;
        width: 13px;
    }
}

.separator {
    padding: 0 5px;
}
