<div class="listing-popup-page-container edit-page-container p-0">

    <div class="title-agmo-form">
        <div class="page-title">Add Custom Portfolio</div>
    </div>

    <div class="title-divider"></div>

    <div class="agmo-form">
        <div class="row mb-4">
            <div class="col-12">
                <label>Funds:</label>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-select placeholder="- Select Fund -" class="portfolio-select-field">
                                <mat-option [value]="1">
                                    <mat-checkbox>
                                        Astute Malaysia Growth
                                    </mat-checkbox>
                                </mat-option>
                                <mat-option [value]="2">
                                    <mat-checkbox>
                                        Astute Quantum Fund
                                    </mat-checkbox>
                                </mat-option> 
                                <mat-option [value]="3">
                                    <mat-checkbox>
                                        Astute Dana Aslah
                                    </mat-checkbox>
                                </mat-option>
                                <mat-option [value]="4">
                                    <mat-checkbox>
                                        Astute Dana Al-Sofi-i
                                    </mat-checkbox>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
