<div class="listing-popup-page-container edit-page-container">
    <div class="details-wrapper">
        <div class="d-flex my-3 justify-content-between">
            <div class="row breadcrumb-container mb-4">
                <div class="col-12">
                    <app-listing-popup-breadcrumb
                        [replace]="{fundName: 'Return Rate ( Apex Dana Al-Kanz )'}"
                        icon="/assets/images/data_configuration_grey@2x.png">
                    </app-listing-popup-breadcrumb>
                </div>
            </div>

            <button class="edit-button"> <a [routerLink]="['edit']" >Edit </a></button>
        </div>

        <div class="title-agmo-form d-flex justify-content-between ">
            <h5 class="page-title my-auto ">Cashku Save Fund - Return Rate Configurations</h5>
        </div>

        <div class="title-divider"></div>

        @if (detail) {
            <div class="agmo-form mb-5">
                <div class="row">
                    <!-- Option A: If detail is already an array -->
<!--                    @for (subDetail of detail; track subDetail.id || $index) {-->
<!--                        <div class="col-6">-->
<!--                            <p class="font-weight-bold mb-3">{{ subDetail.section }}</p>-->
<!--                            @for (returnRate of subDetail.data; track returnRate.id || $index) {-->
<!--                                <div class="information mb-4">-->
<!--                                    <div class="detail-label">{{ returnRate.title }}</div>-->
<!--                                    <div class="detail-data">{{ returnRate.value | number: '.2' }}%</div>-->
<!--                                </div>-->
<!--                            }-->
<!--                        </div>-->
                </div>

                <div class="body">
                    <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
                </div>
            </div>
        }
    </div>
</div>

