.listing-popup-page-container {
    background-color: #f7f7fa;
}

.bottom-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(170, 170, 170, 0.2), 0 4px 8px 0 rgba(143, 143, 143, 0.19);
    margin-top: 32px;
    padding: 20px;
}

p {
    font-size: medium;
    font-weight: bold;
    margin-top: revert;
}

input:read-only {
    background-color: white;
}

.password-form {
    background-color: unset;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-size: 14px;
    opacity: 30%; /* Firefox */
}

.copy-container {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #ced4da;
    border-right: 1px solid transparent;
    width: 2rem;
    height: 100%;
    background-image: url(/assets/images/icon_copy_blue@2x.png);
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.agmo-tooltip {
    position: absolute;
    bottom: calc(100% + .125rem);
    left: 50%;
    transform: translateX(-50%);
    padding: .125rem .375rem 0;
    background-color: rgba(#08197C, .8);
    color: white;
    border-radius: .25rem;
    font-size: .75rem;
    transition: 0.1s opacity ease-in;
    white-space: nowrap;
    opacity: 0;

    &.show {
        opacity: .8;
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::ng-deep .country-code-dropdown {
    .mat-select-arrow-wrapper {
        position: static;
    }
}
