.app-datetimepicker {
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    height: 2.2rem;
    position: relative;
    vertical-align: top;
    width: 100%;

    .app-datetimepicker-wrapper {
        position: relative;
        right: -8px;
        top: 0px;
        width: 100%;
    }

    .inner-input {
        background-color: transparent;
        border: 0 !important;
        display: inline-block;
        flex-grow: 1;
        outline: 0;
    }
}

.icon-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem;
}
