.file-input {
    display: none;
}

.upload-btn, .submit-btn {
    background-color: var(--dark-blue);
    border-radius: 8px;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 12px 55px;
}

.preview-label {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.img-container {
    box-shadow: 0px 0px 10px 0px black;
    margin: auto;
    width: fit-content;

    .img-preview {
        max-height: 400px;
        object-fit: contain;
        width: 100%;
    }
}
