<div class="listing-popup-page-container edit-page-container">
    <div class="row breadcrumb-container mb-4">
        <div class="col-12">
            <app-listing-popup-breadcrumb
                icon="/assets/images/data_configuration_grey@2x.png">
            </app-listing-popup-breadcrumb>
        </div>
    </div>

    <div class="title-agmo-form">
        <h5 class="page-title">Edit Kakitangan Image</h5>
    </div>
    <div class="title-divider"></div>

    <form class="agmo-form" [formGroup]="editForm">
        <input type="file" class="file-input" formControlName="uploadedImg" accept="image/*" (change)="onFileSelected($event)" #fileUpload>

        <button class="upload-btn" (click)="fileUpload.click()">Upload Image</button>

        <div class="my-5" *ngIf="uploadedImageSrc">
            <div class="d-flex flex-column">
                <h5 class="preview-label">Preview</h5>

                <div class="img-container my-4">
                    <img [src]="uploadedImageSrc" class="img-preview"/>
                </div>

                <h5 *ngIf="editForm.invalid">Wrong File Type.</h5>
            </div>

            <div class="row justify-content-center" *ngIf="editForm.valid">
                <button type="submit" class="submit-btn" (click)="onSubmit()">Submit</button>
            </div>
        </div>

        <div *ngIf="detail && !uploadedImageSrc" class="img-container my-5">
            <img src="{{detail.value}}" class="img-preview">
        </div>
    </form>

</div>
