.status-box {
    border-radius: 20px;
    font-size: 10px;
    font-family: 'Open Sans';
    text-align: center;
    width: max-content;

}

.completed {
    background-color: #E4FAF6;
    color: #0A8D78;
}

.pending {
    background-color: #FFEEE8;
    color: #DD6231;
}


.three-dot-menu:after {
    content: "\2807";
    font-size: 20px;
}

.mat-menu-item {
    .dark-blue-text {
        color: var(--dark-blue);
    }

    .red-text {
        color: red;
    }
}

.mat-column-netWorth {
    white-space: nowrap;
}

.add-note {
    background-color: white;
    border-color: var(--secondary);
    border-radius: 100px;
    color: var(--secondary);
    font-size: 12px;
    font-weight: bold;
    padding: 1px 15px;

    &:hover {
        background-color: var(--secondary-hover);
        border-color: white;
        color: white;
        cursor: pointer;
    }
}
