.modal-header {
    padding: 1rem 1.5rem;
    border-bottom: 0;

    span {
        font-weight: bold;
        color: #000;
    }
}

.modal-body {
    color: #000;
    padding: 0.8rem 1.5rem;

    .image {
        background-color: black;
        height: 600px;
        object-fit: contain;
        width:100%;
    }

    .actions {
        margin-top: 1.5rem;

        button {
            border: 0;
            font-weight: bold;
            padding: 0.9rem 2rem;
        }

        .download {
            background-color: #08197C;
            border-radius: 8px;
            color: #FFFFFF;
        }

    }
}


