section.row {
    padding-bottom: 50px;
}

.data-insights-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.label-title {
    margin-bottom: 6px;
}

.label-description {
    font-size: 12px;
    color: #747474;
}

.btn-export {
    font-weight: bold;
    padding: 3px 24px;
}

.data-insights-tab-group {
    ::ng-deep {
        .mat-tab-header {
            margin-bottom: 25px;

            .mat-tab-label {
                color: #323232;
                opacity: 1;

                &.mat-tab-label-active {
                    color: #08197c;
                    font-weight: bold;
                }
            }
        }

        .mat-ink-bar {
            height: 3px;
            background-color: #08197c;
        }
    }
}

.data-insights-list {
    border-radius: 8px;
    border: 1px solid #e5e5e580;
    padding-top: 0;

    ::ng-deep {
        .mat-list-item-content {
            padding: 0 !important;
            width: 100%;
        }
    }

    &-header,
    &-item {
        align-items: center;
        column-gap: 1rem;
        height: 100%;
        padding: 0 1rem;
        width: 100%;
    }

    &-header {
        background-color: #f8f8f8;
        border-radius: 8px 8px 0 0;

        header {
            color: #747474;
            font-size: 13px;
            font-weight: 600;
            font-family: "Open Sans";
        }
    }

    &-item {
        .content {
            font-size: 14px;
            font-family: "Open Sans";
            color: black;

            &-icon {
                display: flex;
                align-items: center;
                column-gap: 4px;

                button {
                    display: flex;
                    background-color: transparent;
                    border: 0;
                }
            }
        }

        footer {
            color: #0b2696;
            font-size: 14px;
            font-family: "Open Sans";
            font-weight: bold;
        }
    }
}

::ng-deep .insights-menu {
    padding: 20px;
    box-shadow: 0px 3px 6px #B7B7B729;
    border-radius: 5px;

    section {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }

        .label {
            color: #888888;
            font-size: 12px;
            margin-bottom: 3px;
        }
    }
}
