<section class="row">
    <div class="box-container mt-2rem col-12">
        <div class="data-insights-container">
            <div>
                <div class="label-title">Data Insights</div>
                <div class="label-description">Reflects the breakdown of total clients and AUM data.</div>
            </div>

            <button mat-button class="primary darkblue btn-export" (click)="onExport()">Export</button>
        </div>

        <mat-tab-group class="data-insights-tab-group">
            <mat-tab label="Total Clients">
                <ng-container *ngIf="isLoading">
                    <ng-container *ngTemplateOutlet="loading"></ng-container>
                </ng-container>
                <ng-container *ngIf="!isLoading">
                    <mat-list *ngIf="totalClients; else noData" class="data-insights-list">
                        <mat-list-item>
                            <section class="data-insights-list-header grid-cols-8">
                                <header class="col-span-2">Number of Clients per Partnership</header>
                                <header class="col-span-2">Total Number of Clients</header>
                                <header>Cashku Save</header>
                                <header>Cashku Invest</header>
                                <header class="col-span-2">Cashku Save & Cashku Invest</header>
                            </section>
                        </mat-list-item>
                        <mat-list-item *ngFor="let client of totalClients.clientSummaryList">
                            <section class="data-insights-list-item grid-cols-8">
                                <div class="content col-span-2">{{ client.partnership }}</div>
                                <div class="content col-span-2">{{ client.totalClients | number }}</div>
                                <div *ngIf="client.cashkuSaveClients as csc" class="content content-icon">
                                    {{ csc.totalClients }}
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clientsIcon;
                                            context: {
                                                sp: csc.singlePaymentClients,
                                                dd: csc.directDebitClients,
                                                bpm: csc.bothPaymentModeClients
                                            }
                                        "
                                    ></ng-container>
                                </div>
                                <div *ngIf="client.cashkuInvestClients as cic" class="content content-icon">
                                    {{ cic.totalClients }}
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clientsIcon;
                                            context: {
                                                sp: cic.singlePaymentClients,
                                                dd: cic.directDebitClients,
                                                bpm: cic.bothPaymentModeClients
                                            }
                                        "
                                    ></ng-container>
                                </div>
                                <div *ngIf="client.cashkuInvestAndSaveClients as cisc" class="content content-icon col-span-2">
                                    {{ cisc.totalClients }}
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clientsIcon;
                                            context: {
                                                sp: cisc.singlePaymentClients,
                                                dd: cisc.directDebitClients,
                                                bpm: cisc.bothPaymentModeClients
                                            }
                                        "
                                    ></ng-container>
                                </div>
                            </section>
                        </mat-list-item>
                        <mat-list-item>
                            <section class="data-insights-list-item grid-cols-8">
                                <footer class="col-span-2">Total</footer>
                                <footer class="col-span-2">{{ totalClients.clientSummaryTotal.totalClients | number }}</footer>
                                <footer *ngIf="totalClients.clientSummaryTotal.cashkuSaveClients as csc" class="content-icon">
                                    {{ csc.totalClients | number }}
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clientsIcon;
                                            context: {
                                                sp: csc.singlePaymentClients,
                                                dd: csc.directDebitClients,
                                                bpm: csc.bothPaymentModeClients
                                            }
                                        "
                                    ></ng-container>
                                </footer>
                                <footer *ngIf="totalClients.clientSummaryTotal.cashkuInvestClients as cic" class="content-icon">
                                    {{ cic.totalClients | number }}
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clientsIcon;
                                            context: {
                                                sp: cic.singlePaymentClients,
                                                dd: cic.directDebitClients,
                                                bpm: cic.bothPaymentModeClients
                                            }
                                        "
                                    ></ng-container>
                                </footer>
                                <footer *ngIf="totalClients.clientSummaryTotal.cashkuInvestAndSaveClients as cisc" class="col-span-2 content-icon">
                                    {{ cisc.totalClients | number }}
                                    <ng-container
                                        *ngTemplateOutlet="
                                            clientsIcon;
                                            context: {
                                                sp: cisc.singlePaymentClients,
                                                dd: cisc.directDebitClients,
                                                bpm: cisc.bothPaymentModeClients
                                            }
                                        "
                                    ></ng-container>
                                </footer>
                            </section>
                        </mat-list-item>
                    </mat-list>
                </ng-container>
            </mat-tab>

            <mat-tab label="Total AUM">
                <ng-container *ngIf="isLoading">
                    <ng-container *ngTemplateOutlet="loading"></ng-container>
                </ng-container>
                <ng-container *ngIf="!isLoading">
                    <mat-list *ngIf="totalAUM; else noData" class="data-insights-list">
                        <mat-list-item>
                            <section class="data-insights-list-header grid-cols-4">
                                <header>AUM Generated per Partnership</header>
                                <header>Total AUM</header>
                                <header>Cashku Save</header>
                                <header>Cashku Invest</header>
                            </section>
                        </mat-list-item>
                        <mat-list-item *ngFor="let aum of totalAUM.aumSummaryList">
                            <section class="data-insights-list-item grid-cols-4">
                                <div class="content">{{ aum.partnership }}</div>
                                <div class="content content-icon">
                                    RM {{ aum.totalAums | number }}
                                    <ng-container *ngTemplateOutlet="aumIcon; context: { sp: aum.singlePayment, dd: aum.directDebit }"></ng-container>
                                </div>
                                <div class="content">RM {{ aum.cashkuSave | number }}</div>
                                <div class="content">RM {{ aum.cashkuInvest | number }}</div>
                            </section>
                        </mat-list-item>
                        <mat-list-item>
                            <section class="data-insights-list-item grid-cols-4">
                                <footer>Total</footer>
                                <footer class="content-icon">
                                    RM {{ totalAUM.aumSummaryTotal.totalAums | number }}
                                    <ng-container *ngTemplateOutlet="aumIcon; context: { sp: totalAUM.aumSummaryTotal.singlePayment, dd: totalAUM.aumSummaryTotal.directDebit }"></ng-container>
                                </footer>
                                <footer>RM {{ totalAUM.aumSummaryTotal.cashkuSave | number }}</footer>
                                <footer>RM {{ totalAUM.aumSummaryTotal.cashkuInvest | number }}</footer>
                            </section>
                        </mat-list-item>
                    </mat-list>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>

<ng-template #clientsIcon let-singlePayment="sp" let-directDebit="dd" let-bothPaymentMode="bpm">
    <button #trigger="matMenuTrigger" [matMenuTriggerFor]="clientsMenu" (mouseleave)="trigger.closeMenu()"
        (mouseenter)="trigger.openMenu()" (mousemove)="trigger.openMenu()">
        <img src="/assets/images/info_grey.svg" alt="Grey info icon">
    </button>
    <mat-menu class="insights-menu" #clientsMenu="matMenu" [hasBackdrop]="false">
        <ng-template matMenuContent>
            <section>
                <div class="label">Single Payment</div>
                <div>{{ singlePayment }}</div>
            </section>

            <section>
                <div class="label">Direct Debit</div>
                <div>{{ directDebit }}</div>
            </section>

            <section>
                <div class="label">Both Payment Mode</div>
                <div>{{ bothPaymentMode }}</div>
            </section>
        </ng-template>
    </mat-menu>
</ng-template>

<ng-template #aumIcon let-singlePayment="sp" let-directDebit="dd">
    <button #trigger="matMenuTrigger" [matMenuTriggerFor]="aumMenu" (mouseleave)="trigger.closeMenu()"
        (mouseenter)="trigger.openMenu()" (mousemove)="trigger.openMenu()">
        <img src="/assets/images/info_grey.svg" alt="Grey info icon">
    </button>
    <mat-menu class="insights-menu" #aumMenu="matMenu" [hasBackdrop]="false">
        <ng-template matMenuContent>
            <section>
                <div class="label">Single Payment</div>
                <div>RM {{ singlePayment | number }}</div>
            </section>

            <section>
                <div class="label">Direct Debit</div>
                <div>RM {{ directDebit | number }}</div>
            </section>
        </ng-template>
    </mat-menu>
</ng-template>

<ng-template #loading>
    <div class="my-3">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>

<ng-template #noData>
    <div class="text-center">No data found</div>
</ng-template>
