.login-container {
    display: flex;
    min-height: 1px;
    background: white;
}

.box-form-input {
    flex-shrink: 0;
    width: 100%;
    background: white;
    height: 100vh;
}

input {
    width: 100%;
    background-color: whitesmoke;
    border: 0;
    border-radius: 0.313rem;
    padding: 0.625rem;
    font-weight: bold;
    margin-bottom: -0.6rem;
}

section.login-form {
    align-content: center;
    width: 100%;
    padding-right: 28%;
    padding-left: 28%;
    padding-top: 5%;
}

.logo-login {
    margin-top: 7.375rem;
    background-position-x: center;
    width: auto;
    height: 6.625rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn.btn-action {
    height: 3.5rem;
    margin-top: 2rem;
    background-color: #272266;
    color: white;
    font-size: 0.875rem;
    border-radius: 0.313rem;
    font-weight: 500;
    max-height: unset;
    width: 100%;
}

.btn.btn-action:hover {
    background-color: #10529F;
}

.mat-form-field {
    line-height: 1.5;
}

.forgotP {
    font-weight: 500;
}

@media screen and (max-width: 996px) {
    .line-left {
        display: none;
    }

    .line-right {
        display: flex;
        width: auto;
        margin-left: unset;
    }

    section.login-form {
        width: unset;
        margin-right: 5%;
    }
}

.sticky-top {
    z-index: 100 !important;
}

.title-text {
    color: black;
    font-size: 28px;
    font-style: normal;
    font-weight: bolder;
    line-height: 2rem;
}

.title-input {
    color: black !important;
    font-size: 12px;
    font-style: normal;
    float: left;
    margin-bottom: 1rem;
    font-weight: bold;
}
