<div *ngIf="!isPasswordReset" class="container pt-5">
    <div class="row">
        <form class="col-12 col-lg-8 mx-auto" (submit)="submitForm()">
            <div class="title-text">
                Reset Password
            </div>
            <div *ngIf="resetPasswordForm" [formGroup]="resetPasswordForm">
                <div class="mt-5 agmo-form" [class.show-error]="showFormError">
                    <div class="title-input">Email</div>
                    <input class="inputTxtfield" type="text" formControlName="email" placeholder={{emailSnapshot}} value="{{emailSnapshot}}" readonly>
                    <div class="mt-5 title-input">New Password</div>
                    <input placeholder="" class="input-lg agmo-input" formControlName="password"
                        [type]="hide ? 'password' : 'text'" type="password">
                    <div class="mt-5 title-input">Confirm Password</div>
                    <input placeholder="" class="input-lg agmo-input" formControlName="confirmNewPassword"
                        [type]="hide ? 'password' : 'text'" type="password">
                    <button type="submit" class="btn btn-action">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isPasswordReset" class="container pt-5">
    <div class="row">
        <section class="col-12 col-lg-8 mx-auto">
            <div class="title-text mb-5">
                Password Reset Success!
            </div>

            <p>You can close this window.</p>
        </section>
    </div>
</div>
