.unsuspending {
    &.suspend-card {
        padding: 0;
    }

    .btn-close,
    .field-container {
        display: none;
    }

    .description {
        display: block;
    }
}

.suspend-card {
    position: relative;
    padding: 24px 22px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.875rem;
}

.btn-close {
    display: flex;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: -0.5rem;
    right: 0;
}

.field-container {
    margin-bottom: 26px;
}

.description {
    margin-bottom: 40px;
    display: none;
}

.actions-container {
    display: flex;
    justify-content: flex-end;
    column-gap: 1.125rem;

    button {
        padding: 0 2.75rem;
    }
}
