<main class="suspend-card" [class.unsuspending]="!isSuspending">
    <section class="position-relative">
        <div class="title">
            {{ isSuspending ? 'Are you sure you want to suspend this account?' : 'Unsuspend Account' }}
        </div>

        <button class="btn-close" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </section>

    <form [formGroup]="form" [class.show-form-error]="showFormError" (ngSubmit)="onSubmit()">
        <div class="field-container">
            <label for="reason">Reason:</label>
            <textarea formControlName="reason" id="reason" class="form-control agmo-input" rows="8" placeholder="This is because..."></textarea>
        </div>

        <div class="description">
            Are you sure you want to unsuspend this customer?
        </div>

        <section *ngIf="!isSubmitting; else submitting" class="actions-container">
            <button type="button" mat-button class="secondary mild-grey" (click)="onClose()">Cancel</button>
            <button mat-button class="primary darkblue font-weight-bold">Confirm</button>
        </section>
    </form>
</main>

<ng-template #submitting>
    <agmo-loading></agmo-loading>
</ng-template>
