.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.875rem;
}

.btn-close {
    display: flex;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: -0.5rem;
    right: 0;
}

.description {
    margin-bottom: 40px;
}

.actions-container {
    display: flex;
    justify-content: flex-end;
    column-gap: 1.125rem;

    button {
        padding: 0 2.75rem;
    }
}

.successful {
    .title,
    .description {
        text-align: center;
    }

    .actions-container {
        justify-content: center;
    }
}
