.goals-container {
    background-color: var(--light-grey);
    height: 85vh;

    .goals-row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        max-height: 400px;
        overflow: auto;
    }

    .chart-panel {
        .title {
            font-weight: bold;
        }
    }

    .goals-detail {
        color: var(--grey);
    }
}

.border-left-wrapper {
    border-left: 1rem solid var(--light-grey);
}

.container-wrapper {
    background-color: white;
    border-radius: 5px;
}

.right-container {
    width: 30%;

    .title-label {
        font-size: 12px;
        color: #747474;
        font-weight: 600;
    }

    .current-total-assets {
        color: #03a592;
        font-size: 14px;
        font-weight: 700;
    }

    .current-total-investment {
        color: #be8e0f;
        font-size: 14px;
        font-weight: 700;
    }

    .total-goal {
        color: #08197c;
        font-size: 14px;
        font-weight: 700;
    }

    .goal-account {
        color: #dd6231;
        font-size: 14px;
        font-weight: 700;
    }

    .total-investment {
        color: #8524d1;
        font-size: 14px;
        font-weight: 700;
    }

    .interest-amount {
        font-size: 14px;
        font-weight: 700;

        .positive-returns {
            color: #03a58c;
        }

        .negative-returns {
            color: #ff0000;
        }
    }
}

.left-container {
    width: 68%;
}

.amount-container {
    background-color: var(--light-grey);
    border-radius: 5px;
    margin: 16px;

    .label {
        color: var(--dark-blue);
        font-size: 12px;
    }

    .title {
        color: var(--dark-blue);
    }
}

canvas#goalFundChart {
    z-index: 2;
}

.percentage {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
}

.expansion-panel {
    background: transparent;
    box-shadow: none !important;
    margin: 0 20px;

    .mat-expansion-panel-header {
        height: 38px;
    }

    .dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
    }

    .fund-label {
        font-size: 14px;
        font-family: "Open Sans";
    }

    .label,
    .value {
        font-size: 12px;
        font-family: "Open Sans";
    }

    .label {
        color: #747474;
    }

    .value {
        font-weight: 600;
        text-align: right;
    }
}
