.side-menu {
  background-color: #272266;
  width: 17.15rem;
  height: 100%;
  padding: 0 0 1rem;
  border-right: 1px solid #cccccc;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: -17.15rem;
  transition: left 0.25s ease-out;
  z-index: 25;
  color: #ffffff;

  &.is-show {
    left: 0;
  }

  .fa-chevron {
    font-size: 1.14285rem;
    color: #ffffff;
    position: absolute;
    top: 50%;
    right: 1.0714rem;
    transform: translateY(-50%);
  }

  .main-logo {
    padding: 1.64285rem 1.0714rem 1.14285rem;

    a {
      height: 3.14285rem;
      display: block;

      img {
        height: 100%;
      }
    }
  }


  .menu-holder {

    .main-menu-panel {
    }

    .menu-tab {
      padding: 1.0714rem 2.4285rem 1.0714rem 3.4285rem;
      color: #ffffff;
      display: block;
      position: relative;
      cursor: pointer;

      &:hover {
        background-color: #ad0065;
      }

      .menu-icon {
        font-size: 1.5714rem;
        position: absolute;
        top: 50%;
        left: 1.0714rem;
        transform: translateY(-50%);
      }

      .icon-img {
          width: 22px;
          height: auto;
      }

      &.main-menu {
        padding-right: 1.5em;
        font-size: 1rem;
        font-weight: 500;
      }

      &.sub-menu {
        font-size: 0.9285rem;

        &.active {
          color: #ad0065;
          font-weight: 500;
        }
      }
    }
  }
}
