<!-- This is skeleton HTML required for the Popup page. -->
<div class="listing-popup-page-container" *ngIf="detail">
    <div class="row mb-4">
        <div class="col-8">
            <app-listing-popup-breadcrumb [replace]="{customerName: detail.fullname}" icon="/assets/images/icon_audit_trail@2x.png">
            </app-listing-popup-breadcrumb>
        </div>
    </div>
    <div class="details-wrapper">
        <div class="row my-3">
            <div class="col-3">
                <div class="col-12 information">
                    <div class="detail-label">Module</div>
                    <div class="detail-data">{{ModuleType[detail.moduleType] || '-'}}</div>
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 information">
                    <div class="detail-label">Action</div>
                    <div class="detail-data">{{ActionType[detail.actionType] || '-'}}</div>
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 information">
                    <div class="detail-label">Timestamp</div>
<!--                    <div class="detail-data">{{(detail.createdAt | date:'D MMM YYYY, HH:mm') || '-' }}</div>-->
                    <div class="detail-data">{{ detail.createdAt }}</div>
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 information">
                    <div class="detail-label">Device</div>
                    <div class="detail-data">{{detail.deviceType || '-'}}</div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-3">
                <div class="col-12 information">
                    <div class="detail-label">Name</div>
                    <div class="detail-data">{{detail.fullname || '-'}}</div>
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 information">
                    <div class="detail-label">Email</div>
                    <div class="detail-data text-break">{{detail.email || '-'}}</div>
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 information">
                    <div class="detail-label">IP Address</div>
                    <div class="detail-data">{{detail.ipAddress || '-'}}</div>
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 information">
                    <div class="detail-label">OS Version</div>
                    <div class="detail-data">{{detail.osVersion || '-'}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="details-wrapper my-3">
        <div class="row my-3">
            <div class="col-3">
                <div class="col-12 title">
                    Record Updated
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2 pr-0">
                <div class="col-10 information">
                    <div class="detail-data">User ID:</div>
                </div>
            </div>
            <div class="col-3 pl-0">{{detail.userId || '-'}}</div>
        </div>
        <div class="row mb-4">
            <div class="col-2 pr-0">
                <div class="col-10 information">
                    <div class="detail-data">User Name:</div>
                </div>
            </div>
            <div class="col-3 pl-0">{{detail.name || '-'}}</div>
        </div>
        <div class="row income-wrapper mb-5" *ngIf="detail.changes.length > 0">
            <div class="col-4 information px-0 line">
                <div class="col-12 ml-3 py-3">Property Name</div>
            </div>
            <div class="col-4 information px-0 line">
                <div class="col-12 ml-3 py-3">Old Record</div>
            </div>
            <div class="col-4 information px-0">
                <div class="col-12 py-3">New Record</div>
            </div>
            <ng-container *ngFor="let change of detail.changes">
                <div class="col-4 information px-0 line">
                    <hr class="m-0">
                    <div class="col-12 py-3 detail-data ml-3">{{ change.uiPropertyName }}</div>
                </div>
                <div class="col-4 information px-0 line">
                    <hr class="m-0">
                    <div class="col-12 py-3 detail-data ml-3">RM{{ change.previousValue | number }}</div>
                </div>
                <div class="col-4 information px-0">
                    <hr class="m-0">
                    <div class="col-12 py-3 detail-data">RM{{ change.currentValue | number }}</div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
