.listing-popup-page-container {
    background-color: #F7F7FA;
}

.details-wrapper {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
}

.title {
    color: #0B2696;
    font-weight: bold;
}

.income-wrapper {
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
}

.line {
    border-right: 1px solid #E5E5E5;
}
