.status-wrapper {
    border-radius: 20px;
    padding: 8px;
    text-align: center;
}

.status-complete {
    background-color: #e4faf6;
    color: #0a8d78;
}

.status-pending {
    background-color: #ffeee8;
    color: #dd6231;
}

.percentage {
    color: #982828;
    font-size: 11px;
    font-weight: 700;
}