<div class="contain-container">
    <mat-table matSort class="agmo-table" [dataSource]="listingDataSource" (matSortChange)="onSortChange($event)">
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let funds">{{funds.index}}</td>
        </ng-container>

        <ng-container matColumnDef="transactionType">
            <th mat-header-cell  *matHeaderCellDef >Type</th>
            <td mat-cell *matCellDef="let funds">
                <div class="d-flex align-items-center">
                    <div class="icon-status"
                        [class]="funds.transactionDisplayType === TransactionDisplayType.Decrement ? 'red-arrow' : 'green-arrow'"></div>
                    <span>{{funds.transactionName}}</span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="sellerOrderNo">
            <th mat-header-cell *matHeaderCellDef >Seller Order No</th>
            <td mat-cell *matCellDef="let funds">{{ funds.sellerOrderNo || '-' }}</td>
        </ng-container>

        <ng-container matColumnDef="ihNo">
            <th mat-header-cell *matHeaderCellDef >IHNo</th>
            <td mat-cell *matCellDef="let funds">{{ funds.ihNo || '-' }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef >Amount</th>
            <td mat-cell *matCellDef="let funds">
<!--               {{funds.amount | currency:'MYR':'RM ':'1.2-2'}}-->
               {{funds.amount }}
            </td>
        </ng-container>

        <ng-container matColumnDef="wrapFee">
            <th mat-header-cell *matHeaderCellDef >Wrap Fee</th>
<!--            <td mat-cell *matCellDef="let funds">{{ funds.wrapFee || 0 | currency:'MYR':'RM ': '1.2-15'  }}</td>-->
            <td mat-cell *matCellDef="let funds">{{ funds.wrapFee || 0' }}</td>
        </ng-container>

        <ng-container matColumnDef="grossAmount">
            <th mat-header-cell *matHeaderCellDef >Gross Amount</th>
<!--            <td mat-cell *matCellDef="let funds">{{ funds.grossAmount || 0 | currency:'MYR':'RM ': '1.2-2' }}</td>-->
            <td mat-cell *matCellDef="let funds">{{ funds.grossAmount || 0 }}</td>
        </ng-container>

        <ng-container matColumnDef="transactionAt">
            <th mat-header-cell *matHeaderCellDef >Created At</th>
<!--            <td mat-cell *matCellDef="let funds">{{ funds.transactionAt | date:'DD-MM-YYYY HH:mm'}}</td>-->
            <td mat-cell *matCellDef="let funds">{{ funds.transactionAt }}</td>
        </ng-container>

        <ng-container matColumnDef="paymentMode">
            <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
            <td mat-cell *matCellDef="let funds">
                {{funds.paymentMode || '-'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="transactionStatus">
            <th mat-header-cell  *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let funds" class="size-s">
                <span class="agmo-status text-nowrap"
                [ngClass]="funds.transactionStatus === TransactionStatus.Rejected ? 'red' : funds.transactionStatus === TransactionStatus.Completed ? 'green' : 'orange'">
                   {{TransactionStatus[funds.transactionStatus]}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="confirmedAt">
            <th mat-header-cell *matHeaderCellDef >Confirmation Date</th>
<!--            <td mat-cell *matCellDef="let funds">{{funds.confirmedAt | date:'DD-MM-YYYY HH:mm'}}</td>-->
            <td mat-cell *matCellDef="let funds">{{ funds.confirmedAt }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="loading">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                <mat-progress-bar mode="query"></mat-progress-bar>
            </td>
        </ng-container>
        <ng-container matColumnDef="noData">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-data">No
                data</td>
        </ng-container>

        <tr class="no-data" mat-footer-row *matFooterRowDef="['loading']" [class.show]="isListingLoading"></tr>
        <tr class="no-data" mat-footer-row *matFooterRowDef="['noData']" [class.show]="isListEmpty()"></tr>
    </mat-table>

    <mat-paginator [length]="pagination.length" [pageSize]="pagination.pageSize" [pageIndex]="pagination.pageIndex"
        [pageSizeOptions]="pagination.pageSizeOptions" (page)="onPaginationChange($event)"></mat-paginator>

</div>

<!-- This is required for the Popup page to overlay the Listing page. -->
<div class="listing-popup-page" [class.show]="isDetailPopupShow">

    <!-- This spinner or loading button is to indicate popup page is loading. -->
    <div class="center">
        <mat-spinner></mat-spinner>
    </div>

    <!-- Popup page contain is render within here. -->
    <router-outlet (activate)="onOutletActivate()" (deactivate)="onOutletDeactivate($event)"></router-outlet>
</div>
