.selected-customer {
    border-radius: 20px;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
}

.not-endorsed {
    background-color: #FFEEE8;
    color: #DD6231;
}

.endorsed {
    background-color: #E4FAF6;
    color: #0A8D78;
}

.unselect-customer {
    color: black;
    cursor: pointer;
    font-weight: 700;
}

.remove-icon {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
}

.dropdown-icon {
    height: 1.5rem;
    margin-bottom: 8px;
}

::ng-deep .customer-form-field {
    .mat-select-arrow {
       border: none;
   }
}

label {
    color: #888888;
    font-size: 13px;
}

.note-input {
    height: 3rem;
    padding-left: 14px;
}
