.portfolio-button {
    padding: 10px 30px;
    margin: 16px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #08197c;
    color: #08197c;
}

.portfolio-header {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}

.agmo-table tr.mat-header-row {
    height: 60px;
}

th.mat-header-cell {
    background-color: white;
    border-radius: 5px;
}
