.information {
    .detail-label {
        color: var(--grey);
        font-size: 12px;
    }

    .detail-data {
        color: black;
        font-weight: bold;
    }

    .detail-secondary-data {
        color: var(--grey);
        margin-bottom: 0.5rem;
    }
}

.clickable {
    color: #0B2696;
    cursor: pointer;
    font-weight: 600;
}

.font-orange {
    color: var(--orange);
}

.font-blue {
    color: var(--blue);
}

.font-brown {
    color: var(--brown);
}

.font-mild-red {
    color: var(--mild-red);
}

.font-black {
    color: var(--black);
}

.font-green {
    color: var(--green);
}

.font-red {
    color: #FA0505;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-14 {
    font-size: 14px;
}

.font-purple {
    color: #051064;
}

.font-grey {
    color: #03A58C;
}

.font-light-brown {
    color: #A11C1C;
}
