@for $i from 1 through 12 {
    .grid-cols-#{$i} {
        display: grid;
        grid-template-columns: repeat($i, minmax(0, 1fr));
    }

    .col-span-#{$i} {
        grid-column: span $i;
    }

    .col-start-#{$i} {
        grid-column-start: $i;
    }

    .col-end-#{$i} {
        grid-column-end: $i;
    }
}
