.approve-popup {
    .modal-content {
        border-radius: 8px;
    }

    .modal-dialog {
        max-width: 350px;
    }
}

.passport-popup {
    .modal-content {
        border-radius: 8px;
    }

    .modal-dialog {
        max-width: 900px;
    }
}
