.title-agmo-form {
    .page-title {
        color: black;
        font-size: 18px;
    }
}

.agmo-form {
    margin-bottom: 38px;
}

.customers-container {
    .title {
        font-weight: bold;
        font-size: 18px;
        color: #323332;
        margin-bottom: 8px;
    }

    .description {
        color: #747474;
        margin-bottom: 16px;
    }

    .btn-assign {
        align-items: center;
        background-color: transparent;
        border: 0;
        color: #0B2696;
        column-gap: 6px;
        display: flex;
        font-weight: bold;
        margin-bottom: 32px;
        margin-left: -8px;
        padding: 8px;
    }
}

.btn-submit {
    background-color: var(--dark-blue);
    color: white;
    font-weight: bold;
    padding: 3px 46px;
    border-radius: 8px;
}
