.suspension-reason-card {
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    box-shadow: 0 3px 6px #00000008;
    padding: 18px;

    .title {
        color: #DD0A0A;
        font-weight: 600;
        margin-bottom: 8px;
    }
}
