<!-- This is skeleton HTML required for the Popup page. -->
<div *ngIf="detail" class="listing-popup-page-container">

    <div class="row breadcrumb-container mb-4">
        <div class="col-6">
            <app-listing-popup-breadcrumb [replace]="{advisorName: detail.fullName}" icon="/assets/images/icon_advisor@2x.png"></app-listing-popup-breadcrumb>
        </div>

    </div>

    <div *ngIf="detail" class="row mb-3">
        <app-user-top-profile-new
            class="col-8"
            [appointmentLink]="detail.calendlyLink"
            [email]="detail.email"
            [fullName]="detail.fullName"
            [fullPhoneNumber]="detail.fullPhoneNumber"
            [profilePic]="detail.easyRename_userPicture"
            [isCustomer]="false">
        </app-user-top-profile-new>

        <div *ngIf="!detail.isActive" class="col-4">
            <div class="suspension-reason-card">
                <div class="title">Account Suspended Reason</div>
                <div>{{ detail.suspendReason }}</div>
            </div>
        </div>
    </div>


    <div class="row tab-container">
        <div class="col-12 text-right">
            <button mat-button class="primary darkblue mr-3" (click)="assignCustomer()">Assign
                Client</button>
            <button mat-button class="secondary darkblue mr-3">
                <a [routerLink]="['edit']">
                    Edit
                </a>
            </button>
            <button *ngIf="detail.isActive" mat-button routerLink="suspend" class="secondary darkblue mr-3">Suspend</button>
            <button *ngIf="!detail.isActive" mat-button class="secondary darkblue mr-3" (click)="onUnsuspend()">Unsuspend</button>
            <button mat-button routerLink="delete" class="secondary red">Delete</button>
        </div>

        <div class="col-12">
            <nav mat-tab-nav-bar>
                <a mat-tab-link [routerLink]="['advisor-customer']"
                    [active]="selectedTab === DetailSubTab.Customer">Client</a>
                <a mat-tab-link [routerLink]="['advisor-planner-notes']"
                    [active]="selectedTab === DetailSubTab.PlannerNotes">Advisor Notes</a>
            </nav>
        </div>

        <div class="col-12 body">
            <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
        </div>
    </div>

</div>
