.listing-page, .listing-popup-page-container {
    padding: 14px;
}

.listing-page {
    .listing-popup-page, .listing-popup-page-container {
        background-color: white
    }

    .listing-popup-page-container {
        &.edit-page-container {
            background-color: var(--light-grey);
        }
    }
}

.mat-drawer-container {
    background-color: var(--light-grey);
}
