.title-container {
    .page-title {
        color: #08197C;
        font-size: 24px;
        font-weight: bolder;
    }
}

.title-divider {
    background-color: var(--light-grey);
    height: 1px;
}
.tab-container {
    .body {
        background-color: var(--light-grey);
    }
}

.nested-tab-container {
    background-color: white;
    padding: 16px;

    &.huge-padding {
        margin: 32px 0;
    }

    .white-container {
        background-color: white;
        border-radius: 5px;
    }

    .basic-divider {
        height: 2px;
        background-color: var(--light-grey);
    }
    .title-sub {
        background-color: var(--light-grey);
        border-radius: 10px 10px 0 0;
        margin: 1px 1px 0 1px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .title-sub-divider {
        background-color: #e2e1eb;
        height: 2px;
    }

    .content-sub {
        background-color: var(--light-grey);
        border-radius: 0 0 10px 10px;
        margin: 0 1px 0px 1px;
        padding: 20px;

        .dot {
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            height: 10px;
            width: 10px;
        }
    }
}
