.navbar {
  background-color: #ffffff;
  width: 100%;
  //min-height: 5.714rem;
  padding: 2rem 2.14285rem;
  box-shadow: 0 0.214rem 0.285rem rgba(0, 0, 0, 0.07);
  display: block;
  position: relative;
  z-index: 10;

  .but-menu {
    line-height: 1em;
    float: left;

    i {
      color: var(--secondary-text);
      font-size: 1.714285rem;
      line-height: 1em;
    }
  }

  .navi-control-holder {
    float: right;

    .navi-control {
      margin: 0 1.0714rem;
      display: inline-block;
      vertical-align: top;
      line-height: 1em;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      .navi-tab {
        color: var(--secondary-text);
        font-size: 1.714285rem;
        line-height: 1em;
        position: relative;
        cursor: pointer;
      }

      .navi-tab-noti {
        background-color: var(--notification);
        width: 1.4285rem;
        height: 1.4285rem;
        border-radius: 50%;
        color: #ffffff;
        font-size: 0.714285rem;
        font-weight: bold;
        text-align: center;
        line-height: 1.4285rem;
        position: absolute;
        top: -0.714285rem;
        right: -0.714285rem;
        pointer-events: none;
      }

      .navi-dd {
        background-color: #ffffff;
        border: 1px solid #dddddd;
        position: absolute;
        right: 0;
        top: 3.857rem;
      }
    }
  }

  .profile-holder {

    .profile-dd {
      width: 17.857rem;
      padding: 2.14285rem 0;
      font-size: 0.9285rem;

      .user-holder {
        padding: 0 1.4285rem;
        text-align: center;

        .user-photo {
          margin: 0 auto;

          i {
            color: #BBBBBB;
            font-size: 3.4285rem;
            line-height: 1em;
          }
        }

        .user-name {
          width: 100%;
          margin-top: 1.4285rem;
          color: var(--primary-text);
          font-size: 1.14285rem;
          font-weight: 500;
          line-height: 1.5em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .user-email {
          margin-top: 0.714285rem;
          color: var(--secondary-text);
          font-size: 0.857rem;
        }
      }

      .credit-details {
        margin-top: 0.714285rem;
        border-bottom: 1px solid #dddddd;

        .credit-panel {
          width: 50%;
          padding: 0.714285rem 0;
          text-align: center;
          display: inline-block;
          vertical-align: top;

          .credit-val {
            font-size: 0.857rem;
            font-weight: 500;
            text-transform: uppercase;
          }

          .credit-title {
            color: var(--secondary-text);
            font-size: 0.785rem;
            line-height: 1.5rem;
          }
        }
      }

      .service-list {
        .service-panel {
          width: 100%;
          padding: 1.0714rem 1.4285rem;
          color: var(--thirt-text);
          display: block;

          &.click-panel {
            cursor: pointer;

            &:hover {
              background-color: var(--light-grey);
            }
          }

          i {
            color: var(--secondary-text);
            font-size: 1.5714rem;
            margin-right: 0.714285rem;
            vertical-align: middle;
          }

          span {
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}

//media query//
@media only screen and (max-width: 1230px) {
  .navbar {
  }
}

@media only screen and (max-width: 1020px) {
  .navbar {
  }
}
