.pre-input {
    margin-left: 15px;
    margin-top: 7px;
    position: absolute;
}

.mat-chip {
    background-color: #F2F5FD;
    color: #0E35AF;
}

.mat-chip-remove {
    margin-bottom: -5px;
}

.error {
    border: 1px solid crimson;
}

.help-block {
    color: crimson;
}

.dropdown-icon {
    height: 1.5rem;
    margin-bottom: 8px;
}

.mat-option {
    background: transparent !important;

    &:hover {
        background: transparent !important;
    }
}

::ng-deep .customer-form-field {
    .mat-form-field-wrapper {
        padding-bottom: 0px !important;
        background-color: white;
    }

    .mat-select-arrow {
        border: none;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: white;
        border-radius: 5px;
        padding-bottom: 0px;
    }

    .mat-select-placeholder {
        color: #495057;
    }

    .mat-form-field-infix {
        padding: 0.5rem 0;
    }

    .mat-form-field-outline {
        .mat-form-field-outline-end,
        .mat-form-field-outline-start {
            border-width: 1px !important;
            color: #e0e0e0;
        }
    }

    &.mat-form-field-disabled {
        cursor: not-allowed;

        .mat-select-value,
        .mat-select-trigger {
            cursor: inherit;
        }

        .mat-form-field-wrapper {
            background-color: #ddd;
            border-radius: 5px;
        }
    }
}

::ng-deep .nature-of-business-tooltip {
    background-color: #b71c1c;
    font-size: 13px;
}

.disabled {
    background-color: #ddd;
    border: transparent;
    cursor: not-allowed;
}

.mat-error {
    opacity: 0;
}

.jurisdiction-container {
    min-width: 80px;
    width: 12%;
}

.country-code-wrapper {
    min-width: 72px;
    width: 12%;
}

.tin-row {
    gap: 16px
}

.tin-title {
    white-space: nowrap;
}

.close-icon {
    right: -10px;
    top: -10px;
    transform: scale(0.5)
}

form input[type=number]::-webkit-outer-spin-button,
form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
