.remove-icon {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
}

.dropdown-icon {
    height: 1.5rem;
    margin-bottom: 8px;
}

::ng-deep .customer-form-field {
    .mat-select-arrow {
       border: none;
   }
}
