.modal-header {
    padding: 0.9375rem !important;
    text-align: center;
    background-color: white !important;
    border: 0px hidden white;
}
.box {
    width: auto;
    height: auto;
    top: 0;
    padding: 1.5rem;
    padding-top: 0;
    margin-top: -2rem;
    display: table-cell;
}

.titletxt {
    color: black;
    font-size: 28px;
    font-style: normal;
    font-weight: bolder;

}

.titletxt2 {
    color: black !important;
    font-size: 12px;
    font-style: normal;
    float: left;
    margin-bottom: 1rem;
    font-weight: bold;
}

.titletxt3 {
    color: gray;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    margin-top: 1rem;
}

:host ::ng-deep .modal-content {
    width: 511px !important;
    position: unset;
    border-radius: unset;

}

/*--------------------Add Admin Button----------------------*/
.addAdminBtn {
    background-color: #272266;
    float: left;
    border: 1px solid #272266;
    margin-bottom: 2rem;
    margin-left: 0.2rem;
    margin-top: 2rem;
}

.addAdminBtn a {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    margin: 2rem;
}

.addAdminBtn:hover {
    opacity: 0.5;
    cursor: pointer;
}
/*-------------------------------------*/

:host ::ng-deep textarea::placeholder {
    color: #B4B4B4;
    padding-left: 1rem;
}

.line {
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}

.line-separator {
    height: 1px;
    background: #717171;
    border-bottom: 1px solid #C9C9C9;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.inputTxtfield {
    width: 31rem;
    margin-bottom: 2rem;
    border: 1px solid whitesmoke;
    border-radius: 2px;
    margin-top: 0.5rem;
    background-color: whitesmoke;
    height: 2rem;
}

.inputTxtfieldInputMsg {
    width: 100%;
    border: 1px solid #C9C9C9;
    border-radius: 2px;
    margin-left: 0rem;
}

:host ::ng-deep input::placeholder {
    color: #B4B4B4;
    padding-left: 1rem;
}

.standardizeWidth input {
    width: 28.4rem;
}

.standardizeWidth button {
    width: 28.4rem;
}

.standardizeWidth textarea {
    width: 28.4rem;
}

.flexCenter {
    display: flex;
    align-items: center;
    width: 28rem;
    margin-left: -0.5rem;
    margin-bottom: 1.5rem;
}

.box-position {
    display: table-caption;
}
