.modal-header {
    padding: 0.9375rem !important;
    text-align: center;
}

.message {
    font-size: 1.2rem;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.buttons {
    margin-top: 20px;
    text-align: center;

    .btn {
        min-width: 100px;
        margin: 1rem 0;
        min-height: 2.5rem;
    }

    .btn:not(:first-child) {
        margin-left: 1rem;
    }

    .btn-primary{
        box-shadow: none;
    }

    .btn-cancel:hover {
        color: #525f7f !important;
        box-shadow: 0 0 0.3125rem rgba(0,0,0,0.1);
    }
}
