.status-wrapper {
    padding: 0.5rem;
    width: 70%;
    border-radius: 5px;
}

.status-approve {
    border: 1px solid green;
    color: green;
}

.status-cancel {
    border: 1px solid red;
    color: red;
}

.status-pending {
    border: 1px solid grey;
    color: grey;
}

.dropdown-icon {
    width: 1rem;
    margin: 0 0.5rem 0 0.3rem;
}