<!-- This is skeleton HTML required for the Listing page. -->
<div class="listing-page">
    <div [class.opacity-0]="isDetailPopupShow">
        <div class="row title-container mb-4">
            <div class="col-10 page-title">ADVISOR LIST</div>
            <div class="col-2">
                <button mat-button class="primary darkblue font-weight-bold float-right py-1 px-4" >
                    <a [routerLink]="['create']">
                    Create Advisor
                    </a>
                </button>
            </div>
        </div>

        <div class="row filter-container mb-4">
            <div class="col-12">
                <div class="d-flex w-100">
                <mat-form-field class="agmo-search-label-container" >
                    <mat-label class="agmo-search-mini-label">Search By</mat-label>
                    <input matInput type="text" class="agmo-search-label" value="Advisor Name" readonly>
                </mat-form-field>
                <mat-form-field class="agmo-search-container flex-grow-1" >
                    <input matInput type="text" class="agmo-search-label" placeholder="Search" [formControl]="searchBarFormControl">
                </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row contain-container">
            <div class="col-12">
                <mat-table matSort class="agmo-table" [dataSource]="listingDataSource" (matSortChange)="onSortChange($event)">
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef>No.</th>
                        <td mat-cell *matCellDef="let advisor">{{advisor.index}}</td>
                    </ng-container>

                    <ng-container matColumnDef="fullname">
                        <th mat-header-cell  *matHeaderCellDef>Name</th>
                        <td mat-cell class="clickable" *matCellDef="let advisor" >
                            <a [routerLink]="['detail', advisor.id]">{{advisor.fullName || '-'}}

                            </a></td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>Email</th>
                        <td mat-cell *matCellDef="let advisor">{{advisor.email || '-'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="fullPhoneNumber">
                        <th mat-header-cell *matHeaderCellDef>Phone No.</th>
                        <td mat-cell *matCellDef="let advisor">{{advisor.fullPhoneNumber || '-'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="accountStatus">
                        <th mat-header-cell *matHeaderCellDef>Account Status</th>
                        <td mat-cell *matCellDef="let advisor" [ngClass]="advisor.uiAccountStatus.cssClass">
                            {{advisor.uiAccountStatus.label || '-'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="threeDotMenu">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let advisor" class="text-right">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon class="three-dot-menu"></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>
                                    <a [routerLink]="['detail', advisor.id, 'edit']">
                                    <span class="font-weight-bold dark-blue-text">Edit</span>
                                    </a>
                                </button>
                                <button *ngIf="advisor.isActive" mat-menu-item>
                                    <a [routerLink]="['detail', advisor.id, 'suspend']">
                                    <span class="font-weight-bold dark-blue-text">Suspend</span>
                                    </a>
                                </button>
                                <button *ngIf="!advisor.isActive" mat-menu-item (click)="onUnsuspend(advisor.id)">
                                    <span class="font-weight-bold dark-blue-text">Unsuspend</span>
                                </button>
                                <button mat-menu-item>
                                    <a [routerLink]="['detail', advisor.id, 'delete']">
                                    <span class="font-weight-bold font-red">Delete</span>
                                    </a>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <ng-container matColumnDef="loading">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                            <mat-progress-bar mode="query"></mat-progress-bar>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="noData">
                        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-data">No data</td>
                    </ng-container>

                    <tr class="no-data" mat-footer-row *matFooterRowDef="['loading']" [class.show]="isListingLoading"></tr>
                    <tr class="no-data" mat-footer-row *matFooterRowDef="['noData']" [class.show]="isListEmpty()"></tr>
                </mat-table>

                <mat-paginator [length]="pagination.length" [pageSize]="pagination.pageSize" [pageSizeOptions]="pagination.pageSizeOptions" (page)="onPaginationChange($event)"></mat-paginator>
            </div>
        </div>
    </div>

    <!-- This is required for the Popup page to overlay the Listing page. -->
    <div class="listing-popup-page" [class.show]="isDetailPopupShow">
        <!-- This spinner or loading button is to indicate popup page is loading. -->
        <div class="center">
            <mat-spinner></mat-spinner>
        </div>

        <!-- Popup page contain is render within here. -->
        <router-outlet (activate)="onOutletActivate()" (deactivate)="onOutletDeactivate($event)"></router-outlet>
    </div>

</div>
