<mat-progress-bar *ngIf="isLoading" class="my-5" mode="indeterminate"></mat-progress-bar>
<div *ngIf="customerDetail" class="basic-info">
    <div class="row my-3">
        <div class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Full Name</div>
                <div class="detail-data">{{customerDetail.fullname || '-'}}</div>
            </div>

            <div class="col-12 mb-3 information">
                <div class="detail-label">NRIC/Passport No.</div>
                <div class="detail-data">{{customerDetail.identityNo || '-'}}</div>
            </div>

            <div class="col-12 mb-3 information">
                <div class="detail-label">Folio ID</div>
                <div class="detail-data">{{customerDetail.folioId || '-'}}</div>
            </div>

            <div class="col-12 mb-3 information">
                <div class="detail-label">Date of Birth</div>
                <div class="detail-data">{{customerDetail.birthday ? (customerDetail.birthday | date: 'DD-MM-YYYY') : '-'}}</div>
            </div>
        </div>

        <div class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Gender</div>
                <div class="detail-data">{{GenderOptions[customerDetail.gender] || '-'}}</div>
            </div>

            <div class="col-12 mb-3 information">
                <div class="detail-label">Race</div>
                <div class="detail-data">{{RaceOptions[customerDetail.race] || '-'}}</div>
            </div>

            <div class="col-12 mb-3 information">
                <div class="detail-label">Religion</div>
                <div class="detail-data">{{customerDetail.religion || '-'}}</div>
            </div>

            <div class="col-12 mb-3 information">
                <div class="detail-label">Marital Status</div>
                <div class="detail-data">{{customerDetail.maritalStatus || '-'}}</div>
            </div>
        </div>

        <div class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Nationality</div>
                <div class="detail-data">{{customerDetail.nationalityName || '-'}}</div>
            </div>

            <div class="col-12 mb-3 information">
                <div class="detail-label">Employment Status</div>
                <div class="detail-data">{{customerDetail.employmentStatus || '-'}}</div>
            </div>

            <div class="col-12 mb-3 information">
                <div class="detail-label">Annual Income</div>
                <div class="detail-data">{{customerDetail.annualIncome || '-'}}</div>
            </div>

            <div class="col-12 mb-3 information">
                <div class="detail-label">Risk Tolerance Level</div>
                <div class="detail-data">{{RiskToleranceOptions[customerDetail.riskToleranceLevel] || '-'}}</div>
            </div>
        </div>

        <div class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Business Nature</div>
                <div class="detail-data">{{customerDetail.businessNature || '-'}}</div>
            </div>

            <div class="col-12 mb-3 information">
                <div class="detail-label">Total Networth</div>
                <div class="detail-data">{{customerDetail.netWorth || '-'}}</div>
            </div>

            <div class="col-12 mb-3 information">
                <div class="detail-label">Channel</div>
                <div class="detail-data">{{AppType[customerDetail.appType] || '-'}}</div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row my-3">
        <div class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Registration Status</div>
                <div class="detail-data py-2 d-flex flex-nowrap">
                    <div class="status-box mr-2" [ngClass]="customerDetail.uiRegisterStep?.cssClass">
                        <span class="px-3">{{customerDetail.uiRegisterStep?.label || '-'}}</span>
                    </div>
                    <div class="status-box completed"
                        *ngIf="customerDetail.isCompletedRegistration && customerDetail.registerStep != 5">
                        <span class="px-3">Completed</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Joined Date</div>
<!--                <div class="detail-data">{{customerDetail.createdAt | date: 'DD-MM-YYYY'}}</div>-->
                <div class="detail-data">{{customerDetail.createdAt}}</div>
            </div>
        </div>

        <div class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">First Selected As</div>
                <div class="detail-data">{{CustomerRegisteredAs[customerDetail.registeredAs] || '-'}}</div>
                <div *ngIf="customerDetail.planExpireOn" class="detail-data expired">
<!--                    Expired on {{customerDetail.planExpireOn | date: 'DD-MM-YYYY'}}-->
                    Expired on {{customerDetail.planExpireOn}}
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Complete Registration As</div>
                <div class="detail-data">{{CustomerRegisteredAs[customerDetail.completedRegistrationAs] || '-'}}</div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row my-3">
        <div class="col-6">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Address (Line 1)</div>
                <div class="detail-data">{{ customerDetail.mailingAddress?.address1 || '-' }}</div>
            </div>
        </div>

        <div class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Zip Code</div>
                <div class="detail-data">{{ customerDetail.mailingAddress?.zipCode || '-' }}</div>
            </div>
        </div>

        <div class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">State</div>
                <div class="detail-data">{{ customerDetail.mailingAddress?.state || '-' }}</div>
            </div>
        </div>

        <div class="col-6">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Address (Line 2)</div>
                <div class="detail-data">{{ customerDetail.mailingAddress?.address2 || '-' }}</div>
            </div>
        </div>

        <div class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">City</div>
                <div class="detail-data">{{ customerDetail.mailingAddress?.city || '-' }}</div>
            </div>
        </div>

        <div class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Country</div>
                <div class="detail-data">{{ customerDetail.mailingAddress?.country || '-' }}</div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row my-3">
        <div *ngFor="let detail of customerDetail.tinDetail" class="col-3">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Country of Tax Residence</div>
                <div class="detail-data">{{ detail.countryName || '-' }}</div>
            </div>
            <div class="col-12 mb-3 information">
                <div class="detail-label">TIN Number</div>
                <div class="detail-data">{{ detail.tin || '-' }}</div>
            </div>
        </div>
    </div>

    <hr />

    <div *ngFor="let detail of customerDetail.bankDetails" class="row my-3">
        <div class="col-6">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Withdrawal Bank Name</div>
                <div class="detail-data">{{ detail.bankName || '-' }}</div>
            </div>
        </div>

        <div class="col-6">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Created Date</div>
                <div class="detail-data">
<!--                    {{ detail.createdDate ? (detail.bankCreatedDate | date: 'DD-MM-YYYY') : '-' }}-->
                    {{ detail.createdDate ? (detail.bankCreatedDate) : '-' }}
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Withdrawal Bank Account Number</div>
                <div class="detail-data">{{ detail.bankAccountNumber || '-' }}</div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row my-3">
        <div class="col-6">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Wavpay Wallet ID</div>
                <div class="detail-data">{{customerDetail.wavpayWalletId || '-'}}</div>
            </div>
        </div>

        <div class="col-6">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Created Date</div>
                <div class="detail-data">{{(customerDetail.wavpayCreatedDate | date:'DD-MM-YYYY') || '-'}}</div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row my-3">
        <div class="col-6">
            <div class="col-12 information">
                <div class="detail-label">Hobbies/Interest</div>
                <div *ngIf="customerDetail.hobbies.length === 0" class="detail-data">-</div>
            </div>

            <div class="col-12" *ngIf="customerDetail.hobbies.length > 0">
                <div class="d-flex align-items-center">
                    <div class="hobbies" *ngFor="let hobby of customerDetail.hobbies">{{hobby}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
