.basic-info {
    background-color: white;
    border-radius: 8px;
    margin: 2.063rem 1.5rem;
    padding: 1.25rem;
}

.hobbies {
    background-color: #e3e2eb;
    border-radius: 20px;
    color: #272266;
    font-weight: bold;
    margin: 8px 8px 0 0;
    padding: 6px 12px;
}

.expired {
    color: #ff0000;
    font-size: 12px;
    font-weight: normal;
}
