.main-content {
  .cover-side-menu {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
  }

  .content-section {
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    float: right;
    transition: width 0.25s ease-out;

    // &.is-side-menu {
    //   width: calc(100% - 17.15rem);
    // }

    .content-inner-holder {
      width: 100%;
      //height: calc(100% - 4.57rem);
      flex-grow: 1;
      overflow-y: auto;
    }
  }

  &.mobile {
    .is-side-menu {
      width: 100%;
    }
  }
}
