<mat-toolbar>
    <div class="left-frame-controller" [class.opened]="isSideNavOpen">
<!--        <img class="icon-close" src="/assets/images/logo_cashku@2x.png" alt="Close Icon" (click)="onCloseClick(sideNav)" />-->
        <img class="icon-close" src="/assets/images/logo_cashku@2x.png" alt="Close Icon"  />
        <img class="icon-open" src="/assets/images/logo_cashku@2x.png" alt="Open Icon" />
<!--        <img class="icon-open" src="/assets/images/logo_cashku@2x.png" alt="Open Icon" (click)="onOpenClick(sideNav)" />-->
    </div>

    <app-top-bar class="w-100"></app-top-bar>
</mat-toolbar>

<mat-sidenav-container>
<!--    <mat-sidenav #sideNav class="left-frame" mode="side" [opened]="isSideNavOpen" fixedInViewport>-->
    <mat-sidenav  class="left-frame" mode="side" [opened]="isSideNavOpen" fixedInViewport>
        <app-sidebar></app-sidebar>
    </mat-sidenav>

<!--    <mat-sidenav-content #matSideNavContent>-->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
