.listing-popup-page-container {
    background-color: #f7f7fa;
}

.details-wrapper {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000008;
    padding: 1rem 1.5rem;
}

.agmo-two-lines-wrapper {
    -webkit-line-clamp: unset;
    max-height: 320px;
    overflow-y: auto;
    padding-right: 20px;
    text-align: justify;
    white-space: pre-wrap;
}
