<div class="nested-tab-container" *ngIf="goal">
    <div class="row">
        <div *ngIf="goal.goalType === GoalType.Retirement">
            <div class="col-12 mb-3 information">
                <div class="detail-label">Current Age</div>
                <div class="detail-data">{{goal.currentAge}}</div>
            </div>

            <div class="col-12 mb-3 information">
                <div class="detail-label">Retirement Age</div>
                <div class="detail-data">{{goal.retirementAge}}</div>
            </div>
        </div>

        <div class="col-12 mb-3 information">
            <div class="detail-label mb-3">Investment Portfolio</div>
            <span class="detail-data portfolio-status"
            [ngClass]="PortfolioStatus[PortfolioType[goal.portfolioType].label]">
                {{PortfolioType[goal.portfolioType].label}}
            </span>
        </div>
    </div>

    <div class="row basic-divider"></div>

    <div class="row mt-3">
        <div class="col-12 mb-3 information">
            <div class="detail-label">Target Date</div>
            <div class="detail-data">{{!goal.targetDate ? '-' : goal.targetDate | date : 'DD-MM-YYYY' }}</div>
        </div>

        <div class="col-12 mb-3 information">
            <div class="detail-label">Goal Amount</div>
            <div class="detail-data">{{!goal.goalAmount ? '-' : goal.goalAmount | currency:'MYR':'RM ':'1.2-2'}}</div>
        </div>

        <div class="col-12 mb-3 information">
            <div class="detail-label">Amount Already Have</div>
            <div class="detail-data">{{ goal.amountSavedUp ?  goal.amountSavedUp  | currency:'MYR':'RM ':'1.2-2'} : '-' }</div>
        </div>

        <div *ngIf="goal.goalType === GoalType.Retirement" class="col-12 mb-3 information">
            <div class="detail-label">Expected Monthly Expenses</div>
            <div class="detail-data">{{ !goal.monthlyExpensesRetirement ? '-' : goal.monthlyExpensesRetirement | currency:'MYR':'RM ':'1.2-2'}}</div>
        </div>
    </div>

    <div class="row basic-divider"></div>

    <div class="row mt-3">
        <div class="col-12 mb-3 information">
            <div class="detail-label">Recomended Monthly Savings</div>
            <div class="detail-data">{{!goal.monthlyAmountPmt ? '-' : goal.monthlyAmountPmt | currency:'MYR':'RM ':'1.2-2'}}</div>
        </div>
    </div>
</div>
