<mat-progress-bar *ngIf="isLoading" class="my-5" mode="indeterminate"></mat-progress-bar>
<div class="pt-4">
    <div class="mx-auto mt-5" *ngIf="(!isLoading && !detail) || (detail && detail.portfolios.length === 0)">
        <p class="text-center mt-3">No Portfolios Found</p>
    </div>
    <div class="portfolio-container" [class.opacity-5]="detail && detail.portfolios.length > 0">
        <div class="row mx-auto p-4">
            <div class="col-lg-6 pb-3 mt-auto mb-auto">
                <div class="canvas-container">
                    <canvas id="portfolioChart">{{portfolioChart}}</canvas>
                </div>
                <div class="text-center mt-3 text-label" *ngIf="detail">
                    <div class="title-label">
                        Total Current Value
                    </div>
                    <div class="value-label font-green">
                        {{detail.totalNetWorth | currency:'MYR':'RM ':'1.2-2'}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pb-3 p-0 portfolio-nav" *ngIf="detail">
                <div class="col-12 pt-3 title-sub text-center text-label">
                    <p class="mb-1 title-label">Total Portfolio NAV</p>
                    <p class="value-label">{{detail.totalPortfolioNav }}</p>
                </div>
                <hr />
                <div class="col-12 title-sub-divider"></div>
                <div class="container-fluid p-0">
                    <div class="portfolio-row px-4">
                        <div class="row align-items-center" *ngFor="let goal of detail.portfolios; let i = index">
                            <div class="col-8 text-truncate" title="{{getFundGoalName(goal)}}">
<!--                                <div class="d-inline-block mr-3 dot" [ngStyle]="{backgroundColor: i | chartColor }"></div>-->
                                <div class="d-inline-block mr-3 dot"></div>
                                <span>{{getFundGoalName(goal)}}</span>
                            </div>
                            <div class="col-4">
<!--                                <p class="font-weight-bold text-right">{{goal.currentAmount | currency:'MYR':'RM':'1.2-2'}}</p>-->
                                <p class="font-weight-bold text-right">{{goal.currentAmount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
