.text-label {
    color: #272266;
    font-weight: bold;
    .title-label {
        font-size: 12px;
    }

    .value-label {
       font-size: 16px;
    }
}

.portfolio-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000008;
    opacity: 0;
    width: 70%;

    .canvas-container {
        height: 250px;
    }

    @media (max-width: 992px) {
        width: 100%;
    }
}

.portfolio-nav {
    background-color: #F2F2F6;
    border-radius: 10px;
    padding: 2rem;
}

.portfolio-row {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
    text-align:justify;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
  }
