.mat-button.primary {
    color: white;

    &.purple {
        background-color: var(--purple);
    }

    &.darkblue {
        background-color: var(--dark-blue);
    }

    &.mild-grey {
        background-color: var(--mild-grey);
    }

    &.fullbrown {
        background-color: #ad0065;
    }
}

.mat-button.secondary {
    border-radius: 5px;
    border: 1px solid;
    font-size: 14px;
    font-weight: bold;

    &.red {
        border-color: red;
        color: red;
        background-color: transparent;
    }

    &.darkblue {
        border-color: var(--dark-blue);
        color: var(--dark-blue);
    }

    &.darkgrey {
        border-color: darkgrey;
        color: darkgrey;
    }

}

.mat-button.status {
    border-radius: 30px;
    font-size: 10px;
    line-height: 20px;

    &.non-clickable {
        pointer-events: none;
    }

    &.light-green {
        background-color: #e4faf6;
        color: #0a8d78;
    }

    &.pink {
        background-color: #ffeee8;
        color: #dd6231;
    }
}

button:focus {
    outline: none;
}
