.mat-tab-links .mat-tab-link {
    color: var(--grey);
    font-weight: bold;

    &:hover {
        text-decoration: none;
    }

    &.mat-tab-label-active {
        color: var(--dark-blue);
    }
}
