/*
 * Helper SCSS to overwrite Angular MatTable CSS.
 * This is row level.
 */
.agmo-table {
    border: 1px solid darkgrey;
    color: black;
    cursor: default;
    width: 100%;

    tr.mat-row {
        background-color: white;

        &:nth-of-type(odd) {
            background-color: white;
        }
    }

    tr.mat-header-row {
        height: 30px;
    }

    /*
     * Footer for loading & "No Data".
     */
    tr.mat-footer-row {
        display: none;

        &.show {
            display: table-row;
        }

        mat-progress-bar {
            .mat-progress-bar-buffer {
                background-color: var(--light-grey);
            }

            .mat-progress-bar-fill::after {
                background-color: var(--primary-color);
            }
        }

        .no-data {
            text-align: center;
            padding: 1rem;
        }
    }
}

/*
 * This is cell/column level.
 */
.agmo-table {
    border-spacing: 0 6px !important;
    background-color: var(--light-grey);
    border-collapse: separate;
    border-color: var(--light-grey);

    th.mat-header-cell,
    td.mat-cell {
        border: var(--light-grey);
        font-size: 14px;
        padding: 0 6px;

        &.size-s,
        &.size-m,
        &.size-l,
        &.size-index {
            word-break: break-word;
        }

        &.size-none {
            width: 0;
        }

        &.size-index {
            width: 5%;
        }

        &.size-s {
            width: 15%;
        }

        &.size-m {
            width: 20%;
        }

        &.size-l {
            width: 30%;
        }
    }

    th.mat-header-cell {
        background-color: #f7f7fa;
        color: black;
    }
    td {
        &:first-child {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }
        &:last-child {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
}

.agmo-two-lines-wrapper {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    margin: 7px 0;
    overflow: hidden;
    overflow-wrap: anywhere;
}

.agmo-status {
    border-radius: 20px;
    padding: 6px 16px 9px 16px;
    text-align: center;

    &.orange {
        color: #dd6231;
        background: #ffeee8;
    }

    &.green {
        color: #0a8d78;
        background: #e4faf6;
    }

    &.blue {
        color: #0b2696;
        background: #0b2696;
    }

    &.purple {
        color: #b026ff;
        background: #f5eefb;
    }

    &.red {
        color: #fa0505;
        background: #fceded;
    }
}
