.agmo-search-label-container, .agmo-search-container {
    background-color: white;
    border: 2px solid lightgrey;
    padding-bottom: 0;

    .mat-form-field-wrapper  {
        padding-bottom: 0;
    }
}

.agmo-search-label-container {
    border-bottom-left-radius: 5px;
    border-right: 1px;
    border-top-left-radius: 5px;
    pointer-events: none;

    .mat-form-field-wrapper {
        .agmo-search-mini-label {
            color: grey;
            display: block;
            font-size: 12px;
            margin: 10px 0 0 6px;
        }

        .agmo-search-label {
            color: #8524D1;
            font-size: 14px;
            font-weight: bold;
            margin: 0 0 0 6px;
        }
    }
}

.agmo-search-container {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 20vw;

    .mat-form-field-wrapper {
        .agmo-search-label {
            font-size: 14px;
            font-weight: bold;
            margin: 0 0 0 6px;
        }
    }
}
