.detail-cards {
    margin-bottom: 1.06rem;
    background-color: #FFFFFF;
    border-radius: 0rem;
    box-shadow: 0rem 0.188rem 1.25rem #f9fafb;
    float: right;
    width: 100%;
    padding: 1rem;

    .detail-header {
        font-size: 0.938rem;
        font-weight: 700;
    }


    .section-title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #404040;
        padding: 0.5rem;
    }

    .icon {
        width: 1.313rem;
        height: 1.313rem;
        //object-fit: cover;
    }

    .text {
        font-size: 0.813rem;
        color: #023C89;
        font-weight: 500;
        margin-bottom: 0.4rem;
    }

    

    .text {
        font-size: 0.813rem;
        color: #7C8589;
        letter-spacing: 0.033rem;
    }

    .data {
        font-size: 0.813rem;
        color: #364045;
        letter-spacing: 0.033rem;
    }
}

.content img {
    margin-right: 1rem;
    display: block;
}
