//@import 'native-variable.scss';
//@import 'frame/frame.scss';
//@import '/src/app/pages/admin/listing-popup/listing-popup.scss';
//@import 'frame/listing-popup-by-project.scss';
//@import 'frame/page-container.scss';
//@import 'material/agmo-search.scss';
//@import 'material/agmo-table.scss';
//@import 'material/agmo-button.scss';
//@import 'material/agmo-dropdown.scss';
//@import 'status-button.scss';
//@import 'material/agmo-tab.scss';
//@import 'newTemplate/fonts.scss';
//@import 'newTemplate/form.scss';
//@import 'newTemplate/icons.scss';
//@import 'newTemplate/layout.scss';
//@import 'newTemplate/opacity.scss';
//@import 'newTemplate/modal.scss';
