.modal-dialog {
	color: var(--third-text);

	&.modal-xl {
		max-width: 800px;
	}
}

.modal-content {
	border: 0 none;
	border-radius: 8px;
}


.modal-header-holder {
	padding: 1.0714rem 2.14285rem;
	border-bottom: 1px solid #CCCCCC;

	.modal-title {
		color: #000000;
		font-size: 1.4285rem;
		font-weight: 500;
		line-height: 1.3em;
		float: left;
	}

	.but-close {
		color: var(--secondary-text);
		font-size: 1.714285rem;
		float: right;
	}
}

.modal-button-holder {
	padding: 1.4285rem 2.14285rem;
	border-top: 1px solid #CCCCCC;
	text-align: center;

	.but-click {
		padding: 1.0714rem 2.4285rem;
		margin-right: 1.4285rem;
		font-size: 1.14285rem;
		line-height: 1em;

		&:last-child {
			margin-right: 0;
		}
	}
}

.modal-1200 {

	.modal-dialog {
		max-width: 1200px;
	}

	.modal-content {
		border-radius: 0.5rem;
	}
}

.modal-upload-document {

	.modal-dialog {
		max-width: 836px;
	}

	.modal-content {
		border-radius: 8px;
	}
}

.modal-container-xl {
	max-width: 1000px;

	.modal-content {
		padding: 10px 10px;
	}
}

.modal-container-md {
	max-width: 524px;

	.modal-content {
		padding: 2.125rem 2rem;
	}
}
