:root {
    // Main frames.
    --left-frame-width: 250px;
    --top-frame-height: 64px;

    // Colors.
    --black: black;
    --blue: #1860b6;
    --brown: #0fac4c;
    --dark-blue: #272266;
    --dark-grey: #888888;
    --green: #0fac4c;
    --grey: #b6b6b6;
    --light-grey: #f7f7fa;
    --mild-grey: #9290b2;
    --mild-red: #e43b3b;
    --orange: #fa7d12;
    --primary-color: #212931;
    --purple: #ad0065;
    --white: white;
}
