.preview {
    background-position: center;
    height: 7.188rem;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.313rem;
    //width: 10.313rem;

    .count {
        position: absolute;
        width: 2rem;
        text-align: center;
        bottom: 0;
        right: 0.88rem;
        color: #ffffff;
        font-weight: 600;
        background-color: rgba(0,0,0,0.4);
        border-radius: 0.625rem 0.125rem 0.13rem 0.1rem;
        font-size: 0.813rem;
    }
}

.review {
    background-position: center;
    height: 7.188rem;
    background-size: contain;
    background-repeat: no-repeat;
    //background-color: #C4CDEB;
    border-radius: 0.313rem;
    //width: 10.313rem;

}

.placeholder-background {
    //background-image: url(./assets/slicing/icon_placeholder@2x.png);
    background-position: center;
    height: 7.188rem;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.313rem;
    // width: 10.313rem;
}

.placeholders {
    //background-image: url(./assets/slicing/icon_placeholder@2x.png);
    background-position: center;
    height: 7.188rem;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.313rem;
    margin-left:0.313rem;
    // width: 10.313rem;
}
