.status-box {
    border-radius: 20px;
    font-family: 'Open Sans';
    font-size: 10px;
    padding: 0.2rem;
    text-align: center;
    width: max-content;

        &.completed {
            background-color: #E4FAF6;
            color: #0A8D78;
        }

        &.pending {
            background-color: #FFEEE8;
            color: #DD6231;
        }
}
