.table-section {
  .table-title {
    margin-bottom: 1.875rem;
    color: #333333;
    font-size: 1.25rem;
    font-weight: 500;
  }
}

//table holder
.table-holder {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;

    th, td {
      border-bottom: 0 none;
      font-family: var(--font-normal);
      color: var(--primary-text);

      &.col-price {
        min-width: 8em;
      }

      .custom-checkbox {
        margin: 0;

        label {
          padding-left: 1.714285rem;
        }
      }
    }

    .mat-header-row {
      height: auto;

      th {
        padding: 1.4285rem 1rem 1.14285rem;
        font-size: 0.9285rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: left;
        vertical-align: middle;

        &:first-child {
          padding-left: 1.4285rem;
        }

        &:last-child {
          padding-right: 1.4285rem;
        }

        .-container {
        }

        button {
          text-align: left;
          text-transform: uppercase;
        }
      }

      .-arrow {
        //background-image: url("/assets/images/portal/icon/icon-sort-none.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 24px;
        opacity: 1 !important;
        transform: translateY(0%) !important;

        .-stem,
        .-indicator {
          display: none;
        }
      }

      .mat-header-cell[aria-sort="ascending"] {
        .-arrow {
          //background-image: url("/assets/images/portal/icon/icon-sort-up.png");
        }
      }

      .mat-header-cell[aria-sort="descending"] {
        .-arrow {
          //background-image: url("/assets/images/portal/icon/icon-sort-down.png");
        }
      }
    }

    .mat-row {
      background-color: transparent;
      border-top: 1px solid #cccccc;

      &:nth-child(odd) {
        //background-color: rgba(151, 163, 185, 0.1);
      }

      &:nth-child(even) {
        //background-color: transparent;
      }

      &.tr-odd {
        //background-color: rgba(151, 163, 185, 0.1) !important;
      }

      &.tr-even {
        //background-color: transparent !important;
      }

      td {
        padding: 1.4285rem 1rem;
        font-size: 0.857rem;
        vertical-align: middle;

        &:first-child {
          padding-left: 1.4285rem;
        }

        &:last-child {
          padding-right: 1.4285rem;
        }
      }

      &.tr-expand {
        border-top: 0 none;
        height: auto;

        td {
          padding: 0;
        }
      }
    }
  }
  //
  .btn {
    vertical-align: middle;
  }

  .but-click {
    margin-right: 0.75rem;

    &.but-td {
      padding: 0.58rem 1.14285rem;
      margin-top: 0.357rem;
      font-size: 0.857rem;
      font-weight: 500;
      line-height: 1em;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .but-icon {
    margin-right: 1.4285rem;

    &:last-child {
      margin-right: 0;
    }
  }
  //
  .icon-add {
    color: var(--secondary);
    font-size: 1.14285rem;

    i {
      transition: transform 0.2s;
    }

    &.active {
      margin-right: 0.2857rem;

      i {
        transform: rotate(-45deg);
      }
    }
  }
  //
  .datepicker-holder {
    width: 8.57rem;
    height: 2.14285rem;
    border: 1px solid #bbbbbb;
    position: relative;

    .mat-form-field {
      width: 100%;
      height: 100%;
      line-height: unset;

      mat-form-field-wrapper {
        padding: 0;
      }

      .mat-form-field-infix {
        padding: 0;
        border-top: 0 none;
      }

      .mat-form-field-underline {
        display: none;
      }

      input {
        padding: 0.64285rem 2.14285rem 0.64285rem 0.9285rem !important;
        font-size: 0.857rem;
        line-height: 1em;
      }
    }

    .field-icon {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0.9285rem;
      transform: translateY(-50%);

      &.icon-calendar {
        color: var(--primary-text);
        font-size: 0.857rem;
      }
    }
  }
  //
  .dropdown-panel {
    width: 10.714285rem;
    border: 1px solid #bbbbbb;
    display: inline-block;
    vertical-align: middle;

    .field-icon {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 1.14285rem;
      transform: translateY(-50%);
    }

    .mat-form-field {
      width: 100%;
      height: 100%;
      line-height: unset;

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-infix {
        padding: 0;
        border-top: 0 none;
      }

      .mat-select-value {
        color: var(--third-text);
        font-weight: 500;
        font-size: 1rem;
        line-height: 1em;
      }

      .mat-select {
        padding: 0.58rem 2.4285rem 0.58rem 1.14285rem !important;
        font-family: var(--font-normal);
        font-size: 1rem;
        line-height: 1em;
      }

      .mat-form-field-underline {
        display: none;
      }
    }
  }
  //
  .expand-content {
    background-color: #eeeeee;
    width: 100%;
    padding: 1.4285rem 2.14285rem;
    border-top: 1px solid #cccccc;

    .detail-title {
      margin-bottom: 1.0714rem;
      font-weight: 500;
    }

    .detail-sub-title {
      margin-bottom: 0.57rem;
      color: #666666;
      font-size: 0.8em;
    }

    .courier-logo {
      width: 8.57rem;
      height: 2.357rem;
      margin-bottom: 0.714285rem;
    }

    .expand-detail-panel {

      .main-id {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.4285rem;
      }

      .detail-main {
        color: var(--secondary-text);

        .val {
          color: var(--primary-text);
          font-weight: 500;
        }

        .val-normal {
          color: var(--primary-text);
        }
      }
    }
  }
  //
  //---mobile---
  &.mobile {

    .table-panel {
      background-color: #ffffff;
      width: 100%;
      margin-bottom: 1.4285rem;

      .panel-main {
        padding: 1.4285rem;
        cursor: pointer;
        position: relative;

        .panel-summary {
          width: calc(100% - 1.5rem);
          display: inline-block;
          vertical-align: middle;
          position: relative;

          &.with-checkbox {
            padding-right: 1.4285rem;

            .custom-checkbox {
              margin-right: 0;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }
          }
        }

        .panel-arrow {
          width: 1.5rem;
          text-align: right;
          display: inline-block;
          vertical-align: middle;

          .fas {
            font-size: 1.3rem;
            line-height: 1em;
          }
        }
      }

      .panel-expand {
        padding: 0 1.4285rem 1.4285rem;

        .panel-content {
          border-top: 1px solid #cccccc;

          &.frame {
            border: 1px solid #cccccc;
          }
        }

        .list-panel {
          width: 100%;
          padding: 1.071rem;
          border-bottom: 1px solid #cccccc;
          display: table;

          &:last-child {
            border-bottom: 0 none;
          }

          .list-title,
          .list-value {
            text-align: left;
            vertical-align: middle;
            display: table-cell;
          }

          .list-title {
            width: 30%;
            min-width: 5.7142rem;
            padding-right: 1.071rem;
          }

          .list-value {
            padding-left: 1.071rem;
            font-size: 1.2rem;
          }

          .button-holder {
            text-align: center;
          }

          .but-click {
            width: 100%;
            padding: 0.64285rem 1.4285rem;
            margin-bottom: 0.3571rem;
            font-size: 1rem;

            &:last-child {
              margin-bottom: 0;
            }
          }

          .dropdown-panel {
            width: 100%;
          }
        }

        .expand-content {
          padding: 0;

          .detail-sub-title {
            color: var(--dark-blue);
            font-size: 1rem;
          }
        }
      }
    }
  }
  //------------
}
