.search-holder {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    > :not(:first-child) {
        padding-left: .5rem !important;
        //margin-left: .5rem;
    }

    @media (max-width: 1200px) {
        flex-wrap: wrap;
    }

    .second-holder {
        display: flex;

        > :not(:first-child) {
            margin-left: 0.5rem;
        }

        @media (max-width: 1200px) {
            width: 100%;
            margin-left: 0;
            margin-top: .75rem;
        }
    }
}


.back-holder {
    display: flex;
    margin-bottom: 1.5rem;

}

.action {
    position: absolute;
    right: 0;
    width: 6em;
}

.action-icon {
    padding: 0 0.2rem;
    cursor: pointer;
    height: 1.5rem;
}

.edit {
    position: absolute;
    right: 0;
    //width: 12.5rem;
    cursor: pointer;
}

.delete {
    position: absolute;
    right: 0;
    width: 50px;
    height: 120px;
    cursor: pointer;
}

$gray: #FCFCFC;
$yellow: #FFAA00;

$num-of-tabs: 4;

@mixin tabs {
    @for $i from 1 through $num-of-tabs {
        &:nth-of-type(#{$i}) {
            &:checked {
                ~ .slide {
                    left: calc((70% / #{$num-of-tabs}) * #{$i - 1});
                }
            }
        }
    }
}

.tab-wrap {
    width: 100%;
    position: relative;
    display: flex;
    top: 2rem;
}

input[type="radio"][name="tabs"] {
    position: absolute;
    z-index: -1;
    visibility: hidden;

    &:checked {
        + .tab-label-content {
            label {
                color: #364045;
                font-weight: 700;
            }

            .tab-content {
                display: block;
            }
        }
    }

    @include tabs;

    &:first-of-type {
        &:checked {
            ~ .slide {
                left: 0.5rem;
            }
        }
    }
}

label {
    cursor: pointer;
    color: #7C8589;
    //background-color: $gray;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    //justify-content: center;
    //text-align: center;
    //height: 3.5rem;
    transition: color 0.2s ease;
    //width: 100%;
}

.slide {
    background: $yellow;
    width: calc(20% / #{$num-of-tabs});
    height: 0.25rem;
    position: absolute;
    left: 0;
    top: calc(100% - 0.2rem);
    transition: left 0.3s ease-out;
}

.tab-label-content {
    width: 17.5%;

    .tab-content {
        position: absolute;
        left: 0rem;
        line-height: 130%;
        display: none;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        padding: 2.4rem 0 5.625rem 10%;
    }

    .tab-wrap {
        width: 80%;
        margin-left: 10%;
        top: -6.625rem;
    }
}

.tabs {
    margin-bottom: 1.25rem;
    display: flex;
    color: rgb(98,98,98);

    .tab {
        padding-bottom: 0.3rem;
        border-bottom: .25rem solid rgba(0, 0, 0, 0);
        margin-right: 8rem;
        cursor: pointer;
        position: relative;
        display: inline-block;
        font-size: 0.938rem;
        font-weight: 500;

        .tab:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            width: 2.5rem;
            height: 6px;
            background: #FFAA00;
        }


        &.selected {
            color: #364045;
            font-weight: 700;
            border-bottom-color: #FFAA00;
        }
    }
}
