.three-dot-menu:after {
    content: '\2807';
    font-size: 20px;
}

.clickable {
    cursor: unset;
}

.red-text {
    color: var(--mild-red);
}

.box-container {
    background-color: white;
    border-radius: 12px;
    flex-basis: 0;
    flex-grow: 1;
    padding: 1.5rem;

    .percentage-return {
        font-weight: bold;
        position: relative;
        right: 22px;
        top: 6px;
    }
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.remark-font {
    color: #8524D1;
    font-weight: bold;
}
