<div *ngIf="detail" class="listing-popup-page-container p-0">

    <div class="row breadcrumb-container mb-4">
        <div class="col-8">
            <app-planner-note-breadcrumb [uiBreadcrumbs]="getBreadcrumbs()" *ngIf="true"></app-planner-note-breadcrumb>
        </div>

        <div class="col-4 text-right">
            <button mat-button class="secondary purple mr-2" title="Back to internal notes listing page"> <a  [routerLink]="['../']" >Back </a></button>
            <button mat-button class="secondary darkblue mr-2" > <a [routerLink]="['edit']">Edit </a></button>
            <button *ngIf="!isEndorsedNote()" mat-button class="secondary red mr-3" (click)="removePlannerNote()">Delete</button>
        </div>
    </div>

    <div class="details-wrapper">
        <div class="information">
            <div>
                <div class="detail-label text-dark">
                    Title
                </div>
                <div class="clickable font-weight-bold pointer-none text-break">
                    {{detail.title}}
                </div>
            </div>
            <div class="mt-3">
                <div class="detail-label text-dark">
                    Description
                </div>
                <div class="detail-data font-weight-normal">
                    <div class="agmo-two-lines-wrapper" [innerHTML]="detail.description | safeHtml"></div>
                </div>
            </div>
            <div class="mt-3">
                <div class="detail-label">
                    Sent on {{detail.createdAt | date: 'DD-MM-YYYY HH:MM '}}
                </div>
            </div>
        </div>
    </div>

    <div class="details-wrapper mt-4 p-0 pb-5">
        <router-outlet></router-outlet>
    </div>
</div>
