// Card

.card-translucent {
    background-color: rgba(18, 91, 152, 0.08);
}

.info-card {
    background-color: #FFFFFF;
    border: none;
    // width: calc(30% - 1.17rem);
    height: 100%;
    display: inline-block;
    vertical-align: top;
    // margin-bottom: 2.06rem;
    &:first-child {
        margin-right: 1.17rem;
    }

    .detail-card-header-holder {
        border-bottom: 1px solid #EAEAEA;
    }

    .detail-card-header {
        display: flex;
        align-items: center;
        padding: 1.25rem;
    }

    .detail-card-body {
        padding: 1.25rem;

        .section-title {
            font-size: 0.6875rem;
            color: #707070;
            font-weight: 700;
        }

        .section-title:after {
            content: "";
            display: block;
            margin-bottom: 1.25rem;
            width: 2.84rem;
            padding-top: 0.625rem;
            border-bottom: 3px solid #707070;
        }

        .section-body {
            display: flex;

            img {
                width: 5rem;
                height: 5rem;
                margin-right: 0.5rem;
            }
        }

        .section-column {
            //width: 50%;
            font-size: 0.875rem;

            &:first-child {
                padding-right: 1.25rem;
            }

            .row-title {
                color: #ADADAD;
            }

            .row-value {
                color: #707070;
                height: 1.3125rem;
                margin-bottom: 1.48rem;

                img {
                    width: 2.4rem;
                    height: 1.75rem;
                    margin-right: 0.5rem;
                }
            }

            input {
                border: none;
                width: 100%;

                &:disabled {
                    background: transparent;
                }
            }

            input.editable {
                border-bottom: 1px solid #D6D6D6;
            }
        }
    }
}
