<h4 class="release-note-version">Version {{APP_VERSION}} on 17 April 2024, 7:00 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fix: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/20484" target="_blank">#20484</a>] [Server] As an admin, I am able to view the audit trails for new user sign ups</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.8.7 on 7 November 2023, 6:00 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fix: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/8655" target="_blank">#8655</a>] [Web] Breakdown chart display wrong input under goals tab</li>
        <li>Fix: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/8682" target="_blank">#8682</a>] [Web][Staging] Registration status for clients in the admin portal's client list is not updated</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.8.6 on 6 November 2023, 12:00 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fix: [Web] Undo client deleting functionality</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.8.5 on 2 November 2023, 5:00 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fix: [Web] Updated wording for suspended advisors (Deactivated -> Suspended)</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.8.4 on 25 October 2023, 11:00 AM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fix: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6216" target="_blank">#6216</a>] [Web] As an admin, I can view client information in the goals tab</li>
        <li>Fix: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6217" target="_blank">#6217</a>] [Web] As an admin, I can view client information in the direct debit tab under goals tab</li>
        <li>Fix: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6277" target="_blank">#6277</a>] [Web] As an admin, I can view client information in the funds tab</li>
        <li>Fix: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6220" target="_blank">#6220</a>] [Web] As an admin, I can view the client's transaction type</li>
        <li>Fix: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6279" target="_blank">#6279</a>] [Web] As an admin, I can view client's direct debit informations in the funds tab</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.8.3 on 25 October 2023, 11:00 AM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fix: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6247" target="_blank">#6247</a>] [Web] Export total clients report</li>
        <li>Fix: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6249" target="_blank">#6249</a>] [Web] Export total AUM report</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.8.2 on 23 October 2023, 7:30 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Added: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6133" target="_blank">#6133</a>] [Web] As an admin, I can delete an advisor</li>
        <li>Added: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6247" target="_blank">#6247</a>] [Web] As an admin, I am able to view the total clients breakdown</li>
        <li>Added: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6249" target="_blank">#6249</a>] [Web] As an admin, I am able to view the total AUM breakdown</li>
        <li>Added: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/7238" target="_blank">#7238</a>] [Web] As an admin, I can suspend/unsuspend users in the admin portal</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.8.1 on 19 October 2023, 4:30 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Added: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6132" target="_blank">#6132</a>] [Web] As an admin, I can suspend/unsuspend an advisor</li>
        <li>Added: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6269" target="_blank">#6269</a>] [Web] As an admin, I can view additional information in the user's "Basic Info" tab</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.8.0 on 11 October 2023, 6:00 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Added: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/5933" target="_blank">#5933</a>] [Web] As an admin, I can reset the user's password</li>
        <li>Added: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6257" target="_blank">#6257</a>] [Web] As an admin, I can use “All” function to export reports</li>
        <li>Fixed: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6267" target="_blank">#6267</a>] [Web] As an admin, I can view the latest advisor sorted on top of the list automatically</li>
        <li>Added: [<a href="https://dev.azure.com/agmo/Cashku/_workitems/edit/6271" target="_blank">#6271</a>] [Web] As an admin, I can view the portfolio calculation under user's goals tab</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.7.3 on 14 July 2023, 11:30 AM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fixed: [<a href="http://agmo-vm.cloudapp.net/redmine/issues/47107" target="_blank">#47107</a>] [Admin Portal] Refinement on Goal Tab</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.7.2 on 12 July 2023, 06:30 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fixed: [<a href="http://agmo-vm.cloudapp.net/redmine/issues/47045" target="_blank">#47045</a>] [Admin Portal] Refinement for customer - details - funds</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.7.1 on 07 July 2023, 12:30 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fixed: [<a href="http://agmo-vm.cloudapp.net/redmine/issues/46861" target="_blank">#46861</a>] [Admin Portal] Display date range instead of month and year only in select statement report drop down list</li>
        <li>Added: [<a href="http://agmo-vm.cloudapp.net/redmine/issues/46892" target="_blank">#46892</a>] [Admin Portal] Show profit and loss percentage</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.7.0 on 30 June 2023, 08:30 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Add Wavpay information to Client information.</li>
        <li>Add payment mode to fund's transcation.</li>
        <li>Add NAV information to fund list.</li>
        <li>Add download for Fund Statement.</li>
        <li>Add Profit and Loss for Fund list.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.6.5 on 10 May 2023, 11:00 AM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fixed: [<a href="http://agmo-vm.cloudapp.net/redmine/issues/45972" target="_blank">#45972</a>] Admin Portal: Portfolio tab fixed</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.6.4 on 13 April 2023, 10:30 AM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fixed: [<a href="http://agmo-vm.cloudapp.net/redmine/issues/45282" target="_blank">#45282</a>] Change label name "Net Worth" to "Total Portfolio"</li>
        <li>Fixed: [<a href="http://agmo-vm.cloudapp.net/redmine/issues/45383" target="_blank">#45383</a>] Display wrong transaction arrow for direct debit</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.6.2 on 16 March 2023, 03:15 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fixed: Missing Kakitangan image in the page.</li>
        <li>Fixed: Unable to edit internal note. [<a href="http://agmo-vm.cloudapp.net/redmine/issues/44226" target="_blank">#44226</a>]</li>
        <li>Fixed: Didn't reflect exact data configured in admin portal for Kakitangan web screen. [<a href="http://agmo-vm.cloudapp.net/redmine/issues/44239" target="_blank">#44239</a>]</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.6.1 on 13 February 2023, 12:14 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>[Cashku-CR] Kakitangan Integration - Data Configuration [<a href="http://agmo-vm.cloudapp.net/redmine/issues/42256" target="_blank">#42256</a>]</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.6.0 on 01 Febuary 2023, 01:00 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>#43066 [Cashku-CR] Go back option of Internal Notes & Advisor Notes [<a href="https://trello.com/c/UIf7nGSH/172-43066-cashku-cr-go-back-option-of-internal-notes-advisor-notes" target="_blank">#43066</a>]</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.5.4 on 13 January 2023, 05:00 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>[Cashku-Prod] Display blank type for direct debit transaction in customer details page
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/42895" target="_blank">42895</a>]
        </li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.5.3 on 11 January 2023, 05:00 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>[Cashku-CR] Portal - Add new field in Customer Detail.
            UI Ready, API not ready.
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/41319" target="_blank">41319</a>]
        </li>
        <li>[Cashku-Prod] Admin Portal - Internal note description is not in full text view
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/42031" target="_blank">42031</a>]
        </li>
        <li>[Cashku-CR] Advisor Portal - Go back button for Internal Note & Advisor Note
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/42044" target="_blank">42044</a>]
        </li>
        <li>[Cashku-CR] Kakitangan Integration - Data Configuration.
            Kakitangan Image Configuration completed.
            Savefund Configuration UI ready, API not ready.
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/42256" target="_blank">42256</a>]
        </li>
        <li>[Cashku-CR] Portal - Goal Detail Screen - "Interest" renamed to "Return"
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/42760" target="_blank">42760</a>]
        </li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.5.2 on 27 December 2022, 19:00 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Feat: Allow Admin update customer's advisor without filling in mandatory fields
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/41369" target="_blank">41369</a>]
        </li>
        <li>Feat: Add Back button for Internal Note and Planner Note Module
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/42044" target="_blank">42044</a>]
        </li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.5.1 on 23 December 2022, 17:30 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fixed: Change "Planner" note label to "Advisor" note label
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/42028" target="_blank">42028</a>]
        </li>
        <li>Fixed: Change "Customer" label to "Client" note label
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/42030" target="_blank">42030</a>]
        </li>
        <li>Fixed: Resize note description display view
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/42031" target="_blank">42031</a>]
        </li>
        <li>Fixed: Client Funds List Pagination.
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/42137" target="_blank">42137</a>]
        </li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.5.0 on 15 December 2022, 06:50 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Enable Data Configuration module.</li>
        <li>Enable Partner Referral List module.</li>
        <li>Enable Passport Verification module.</li>
        <li>Enable Notification module.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.4.4 on 15 December 2022, 06:50 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Hide unready module.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.4.3 on 15 December 2022, 06:10 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fixed: Customer Fund Transaction History data not properly displayed</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.4.2 on 13 December 2022, 06:00 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fixed: Wrong title and text are displayed on Fees Management Page
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/40492" target="_blank">40492</a>]</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.4.1 on 09 December 2022, 06:20 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fixed: Total data and page number are not displaying on listing pages
            [<a href="http://agmo-vm.cloudapp.net/redmine/issues/41952" target="_blank">41952</a>]</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.4.0 on 07 December 2022, 07:00 PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Admin Portal - Added Fees Management Module</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.3.0 on 24 November 2022, 07:30 AM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Data Configuration Detail UI<a href="http://agmo-vm.cloudapp.net/redmine/issues/41322">Feature #41322</a></li>
        <li>Fix page stuck in fees management</li>
        <li>Added Offline type to Customer Channel</li>
        <li>Passport Verification Page is added to display submitted passport details from foreign customers for account creation</li>
        <li>Email column is added to passport verification page</li>
        <li>Interest and Target Date info are added to the goal details page</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.2.1 on 10 November 2022, 11:02AM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fix Character limit of 255 in admin portal advisor notes<a href="http://agmo-vm.cloudapp.net/redmine/issues/41191">Feature #41191</a></li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.2.0 on 8 November 2022, 11:42AM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Admin Portal - Referral List integrated with API.<a href="http://agmo-vm.cloudapp.net/redmine/issues/40886">Feature #40886</a></li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.1.2 on 2 November 2022, 2:22PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Text exceed confirmation box<a href="http://agmo-vm.cloudapp.net/redmine/issues/41191">Feature #41191</a></li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.1.1 on 1 November 2022, 4:32PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li> Internal Note & Advisor Note maximum characters<a href="http://agmo-vm.cloudapp.net/redmine/issues/41191">Feature #41191</a></li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.1.0 on 12 October 2022, 4:00PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Internal Notes Feature for admin and advisor<a href="http://agmo-vm.cloudapp.net/redmine/issues/40487">Feature #40487</a></li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>
<h4 class="release-note-version">Version 2.0.17 on 5 October 2022, 4:00PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Admin Portal - Customer Details New field: Risk Tolerance Level.<a href="http://agmo-vm.cloudapp.net/redmine/issues/40330">Feature #40330</a></li>
        <li>Verifier Portal - Account Creation Recon Report.<a href="http://agmo-vm.cloudapp.net/redmine/issues/39981">Feature #39981</a></li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.16 on 19 September 2022, 4:00PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Add confirm password field in reset password page.<a href="http://agmo-vm.cloudapp.net/redmine/issues/40040">Feature #40040</a></li>
        <li>Add save as draft feature in advisor note create/edit page.<a href="http://agmo-vm.cloudapp.net/redmine/issues/40042">Feature #40042</a></li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.15 on 8 September 2022, 10:00AM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Allow negative values for portfolio return percentages.<a href="http://agmo-vm.cloudapp.net/redmine/issues/39977">Bug #39977</a></li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.14 on 2 September 2022, 4:00PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fixed language of message returned when creating advisor.<a href="http://agmo-vm.cloudapp.net/redmine/issues/39814">Bug #39814</a></li>
        <li>Create an advisor without calendly/appointment link.<a href="http://agmo-vm.cloudapp.net/redmine/issues/39805">Bug #39805</a></li>
        <li>Remove appointment link and registered/unregistered section on advisor detail page.<a href="http://agmo-vm.cloudapp.net/redmine/issues/39804">Bug #39805</a></li>
        <li>Fixed bug logout button not redirecting to login page if unsuccessful api request.</li>
        <li>Fixed name not wrapping properly in dashboard top customers list.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.13 on 31 August 2022, 1:30PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Added new field to track registered customers in customer listing and customer detail basic info page.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.12 on 26 August 2022, 11:00AM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Incorrect error message.<a href="https://trello.com/c/TQUvyEft/1-ticket-3">Trello #3</a></li>
        <li>Remove pre-populate feature on select search input.<a href="https://trello.com/c/5d8RKkrO/3-ticket-5">Trello #5</a></li>
        <li>Unable to search for assigned advisor if customer has no assigned advisor.<a href="https://trello.com/c/J0HN6z0l/7-ticket-9-portal">Trello #9</a></li>
        <li>Fixed incorrect risk level background color in customer detail funds tab.</li>
        <li>Integrated audit detail activity record api.</li>
        <li>Standardize the coloring of all submit buttons to dark blue.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.11 on 25 August 2022, 6:00PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Integrate remove single customer from note api in (customer detail -> planner note -> remove).</li>
        <li>Fixed admin role able to view verifier routes.</li>
        <li>Code refactor on Planner Note component in admin portal. Previously was using advisor route</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Planner note not found error message when deleting removing single customer from note. (pending api fix)</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.10 on 25 August 2022, 2:00PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>All Planner Note components updated to fit with latest api update.<a href="https://trello.com/c/C15VB7Nk/22-6-advisor-portal-add-successful-check-details-is-not-there">Trello #6</a></li>
        <li>Email Validating.<a href="https://trello.com/c/qmBDcCJy/18-web-suddenly-no-need-key-in-email-can-send-report">Trello #31</a></li>
        <li>Fixed pagination number in planner detail.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>redmine #39213 - API for fetching transaction history fails for customer. (pending api fix)</li>
        <li>Admin can access planner list but will always be empty data.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.9 on 24 August 2022, 6:00PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Fixed popup modal when approving/rejecting.<a href="http://agmo-vm.cloudapp.net/redmine/issues/39362">(Redmine #39362)</a></li>
        <li>Fixed unable to upload hobbies/interest bug.<a href="http://agmo-vm.cloudapp.net/redmine/issues/39147">(Redmine #39147)</a></li>
        <li>Fixed font colors on dropdown.<a href="http://agmo-vm.cloudapp.net/redmine/issues/39468">(Redmine #39468)</a></li>
        <li>Standardize time format in all portals.<a href="https://trello.com/c/6Grooxvw/23-web-need-to-standardise-the-time-format-in-all-portal">#21</a></li>
        <li>Change to textarea for portfolio editing.<a href="https://trello.com/c/bKHt9ADq/11-web-bad-ux-for-255-characters">#22</a></li>
        <li>Hide Account setting option in verifier portal.<a href="https://trello.com/c/02XwtePX/29-web-click-acc-setting-ntg-happen">#23</a></li>
        <li>Hide export button in audit trail.<a href="https://trello.com/c/BTUSyuYp/21-web-audit-trail-export-button-not-working">#24</a></li>
        <li>Show All in customer dropdown.<a href="https://trello.com/c/hrGESTWt/12-web-show-all-in-the-registration-status">#20</a></li>
        <li>Updated goal type enum.<a href="https://trello.com/c/TYfFm8bI/24-server-missing-goal">#14</a></li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>redmine #39330 - Goals data not tally with mobile. (pending api update)</li>
        <li>redmine #39213 - API for fetching transaction history fails for customer. (pending api fix)</li>
        <li>Planner note has issues after current api release.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.8 on 21 August 2022, 5:00PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>(Redmine #39105/#39108) Added wrap fee value and percentage for funds tab. Remove sale charge column.</li>
        <li>(Redmine #39336) Updated label to Total goal Nav.</li>
        <li>(Redmine #39356) Remove double pop up bug when sending incorrect change password form.</li>
        <li>(Redmine #39359) Display wrong error message when no assignable customers to advisor.</li>
        <li>(Redmine #39360) Should be "Name" in audit trail search field.</li>
        <li>(Redmine #39362) Wrong confirmation message on approve withdrawal modal.</li>
        <li>(Redmine #39369) Updated enum for customer registered as status.</li>
        <li>Added loading indicator and improve logic when fetching goals fund data.</li>
        <li>Fixed spacing in labels for transaction type and added icons.</li>
        <li>Fixed wrong api for removing customer assigned to advisor.</li>
        <li>Fixed routing when click on edit in three dot menu in advisor detail customer tab.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>redmine #39330 - Goals data not tally with mobile. (pending api update)</li>
        <li>redmine #39147 - Unable to edit customer details. (pending api fix) </li>
        <li>redmine #39213 - API for fetching transaction history fails for customer. (pending api fix)</li>
        <li>redmine #39337 - unable to edit the customer list of an existing note. (pending api update)</li>
    </ol>
</div>

<h4 class="release-note-version">Version 2.0.7 on 18 August 2022, 5:00PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>(Redmine #39192) Unable to redirect to planner notes detail from advisor list.</li>
        <li>(Redmine #39171) Redirecting to dashboard on click advisor name.</li>
        <li>(Redmine #39166) Missing total networth pie chart.</li>
        <li>(Redmine #39157) Goal UI issues when too long.</li>
        <li>(Redmine #39135) Hide up/down arrows on number input.</li>
        <li>(Redmine #39104) Goal progress pie chart wrong percentage value.</li>
        <li>add phone validation to customer, advisor edit page.</li>
        <li>updated register step enum.</li>
        <li>fix double pop up bug when refresh + access token expired on portfolio edit.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>unable to edit the customer list of an existing note. (pending api update)</li>
        <li>redmine #39105 - Missing percentage fields for sales charge and wrap fee. (pending api update)</li>
        <li>redmine #39147 - Unable to edit customer details. (pending api fix) </li>
        <li>redmine #39213 - API for fetching transaction history fails for customer. (pending api fix)</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.6 on 16 August 2022, 5:00PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>(Redmine #38925) Prevent 0% allocation submission for edit portfolio page.</li>
        <li>(Redmine #38926) Fixed missing arrow bug in filter dropdown.</li>
        <li>(Redmine #38973) Updated edit-advisor-note page to allow adding/removing customers to an existing note.</li>
        <li>(Redmine #38974) Prevent advisor from deleting if at least 1 customer already endorsed the note.</li>
        <li>(Redmine #39015) Fixed breadcrumb ui in admin portal edit customer page.</li>
        <li>(Redmine #39020) Updated to 255 from 260 max chars in edit portfolio fund description input.</li>
        <li>(Redmine #39021) Fixed icon in admin portal edit advisor page.</li>
        <li>(Redmine #39084) Show friendlier error message for empty old and new password.</li>
        <li>(Redmine #39087) Display '-' for customers with null net worth.</li>
        <li>(Redmine #39093) Phone number validation.</li>
        <li>(Redmine #39096) Hide UI if pop up is showing.</li>
        <li>(Redmine #39098) Show no portfolio message for null protfolio instead of blank page.</li>
        <li>(Redmine #39102) Fixed chart not rendering bug on portfolio page.</li>
        <li>(Redmine #39103) Fixed risk level colors.</li>
        <li>(Redmine #39104) Fixed goal progress percentage value.</li>
        <li>(Redmine #39105 & Redmine #39108) Added missing fields in transaction history.</li>
        <li>(Redmine #39121) Added border highlight.</li>
        <li>(Redmine #39122) Added max chars allowed on title and description fields.</li>
        <li>(Redmine #39123) Fixed customer name hyperlink not routing correctly on advisor notes.</li>
        <li>(Redmine #39125) Hide up and down arrows on number input.</li>
        <li>Added loading indicator for basic-info, portfolio and goal tab in customer detail page.</li>
        <li>Updated ui to use scrollbar portfolio tab.</li>
        <li>Fixed button not same size in account settings.</li>
        <li>Fixed breadcrumb not showing on create advisor, advisor-note page.</li>
        <li>Fixed bug: not fetching customer portfolio in advisor portal customer-detail portfolio tab.</li>
        <li>Added readonly customer input when adding new note to a single customer in advisor-note page.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Unable to edit the customer list of an existing note. (pending api update)</li>
        <li>Missing percentage fields for sales charge and wrap fee. (pending api update)</li>
        <li>API for fetching transaction history for customers is currently down. (pending api fix)</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.5 on 10 August 2022, 4:30PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Added route guards for all roles.</li>
        <li>Added confirmation popup when leaving unsaved editable pages.</li>
        <li>Fixed bug when adding new fund in edit portfolio.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.4 on 8 August 2022, 11:00AM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Added selectable All Customer Option (advisor notes)</li>
        <li>Fixed UI for displaying selected customers (advisor notes).</li>
        <li>Fixed routing logic after deleting note (advisor notes).</li>
        <li>Fixed UI for admin portal dashboard.</li>
        <li>Fixed Enter key not submitting form in admin portal report page.</li>
        <li>Fixed icons for various detail and edit pages.</li>
        <li>Limit characters to 260 max for fund description in edit portfolio.</li>
        <li>Update the enum for registration status to reflect changes in backend.</li>
        <li>Improved ux for admin portal customer edit advisor searching.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.3 on 3 August 2022, 6:00PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Added feature to filter audit list by the event/module type.</li>
        <li>Added feature to filter audit list by start and end date.</li>
        <li>Fixed advisor portal not fetching assigned customers.</li>
        <li>Show e-mandate report on verifier portal.</li>
        <li>Fix Enter key not working on login page.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.2 on 28 July 2022, 4:00PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Replaced bumi status to nationality, occupation to employment status / business of nature (customer basic info).</li>
        <li>Added employment status, nature of business, jurisdiction of tax field (customer edit).</li>
        <li>Removed military/police Id, occupation dropdown (customer edit).</li>
        <li>Integrated admin edit customer api (hobbies/interest, nationality, TIN, employment status, nature of business).</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Filtering does not work for audit log list. (pending api update)</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.1 on 22 July 2022, 4:30PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Integrate Audit Trail Log Api.</li>
        <li>Integrate Audit Trail Detail Api.</li>
        <li>Replaced Monthly Income with Annual Income.</li>
        <li>Replaced hardcoded data for hobbies/interet, TIN number and military/police ID.</li>
        <li>Fixed layout defects in admin portal.</li>
        <li>Removed bumi status.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Filtering does not work for audit log list. (pending api update)</li>
        <li>Updating customer hobbies/interest, TIN, military/police ID, and bumiputera status does not work for admin customer edit. (pending api update)</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 2.0.0 on 18 July 2022, 10:30AM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Add Audit Trail module.</li>
        <li>Add Missing Customer Details (Basic Info)</li>
        <li>Add Customer Detail Edit fields (bumi status, hobbies/interest, TIN number, M/P ID, Advisor).</li>
        <li>Integrate Change Advisor API.</li>
        <li>Integrate Total Invested API.</li>
        <li>Hide Calendly link. (advisor portal > withdrawals)</li>
        <li>Hide e-mandate recon and recurring payments module. (verifier portal > reports)</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>

<h4 class="release-note-version">Version 1.0.5 on 21 Febuary 2022, 03:30PM</h4>
<div class="no-margin-reset">
    <div class="title">Release:</div>
    <ol>
        <li>Add Customer module.</li>
        <li>Add Advisor module.</li>
        <li>Add Appointment module.</li>
        <li>Add Fee Management module.</li>
    </ol>

    <div class="title">Known Issues:</div>
    <ol>
        <li>Nothing.</li>
    </ol>
</div>

<div class="release-divider">=================================================================================</div>
