.statement-container {
    .statement-period {
        display: initial;
        margin-right: 16px;
        width: auto;
    }
}

.arrow-down {
    width: 16px;
}

.table-detail-wrapper {
    background-color: #dbdbdb2c;
    border-radius: 6px;
    margin: 16px;
    padding: 15px 23px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-header {
    color: #272266;
    font-size: 14px;
    font-weight: bold;
}

.btn-direct-debit {
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: #0B2696;
    font-weight: 600;
    border: none;
    background-color: transparent;

    .icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;

        &.expanded {
            transform: rotate(90deg);
        }
    }
}

::ng-deep .debit-menu {
    padding: 16px;

    .menu-item {
        &:not(:last-child) {
            margin-bottom: 16px;
        }

        .active {
            color: #0A8D78;
        }

        .inactive {
            color: #982828;
        }

        .label {
            color: #888888;
            font-size: 12px;
            margin-bottom: 3px;
        }

        .value {
            font-weight: 600;
        }
    }
}

tr.fund-detail-row {
    height: 0;
}

tr.fund-element-row:not(.fund-expanded-row):hover {
    background: white;
}

tr.fund-element-row:not(.fund-expanded-row):active {
    background: white;
}

.fund-element-row td {
    border-bottom-width: 0;
}

.fund-element-detail {
    display: flex;
    overflow: hidden;
}

.detail-data {
    white-space: nowrap;
}

.information {
    cursor: pointer;
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
}

.fund-tooltip-container {
    padding: 1rem 0 0;

    .label, .value {
        cursor: default;
        height: auto;
        line-height: initial;
    }

    .label {
        color: var(--dark-grey);
        font-size: 0.857rem;
    }

    .value {
        color: black;
        font-weight: 600;
        padding-bottom: 1.143rem;

        .percentage {
            color: #982828
        }
    }
}
