%background-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

%background-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

%clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

%ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@for $i from 1 through 5 {
    %ellipsis-#{$i} {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $i;
        -webkit-box-orient: vertical;
    }
}

%absolute-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
