.login-container {
    background: white;
    display: flex;
    min-height: 1px;

    .line-left, .line-right{
        height: 100vh;
    }

    .line-left {
        background-position: left center;
        background-size: cover;
        background: url(/assets/images/login_bg@2x.png) center center no-repeat;
        color: white;
        display: flex;
        flex-grow: 1;
        position: relative;
    }

    .line-right {
        background: white;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

input {
    width: 100%;
    background-color: whitesmoke;
    border: 0;
    border-radius: 0.313rem;
    padding: 0.625rem;
    font-weight: bold;
    margin-bottom: -0.6rem;
}

section.login-form {
    align-content: center;
    width: 28rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.logo-login {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    img {
        height: 3.25rem;
    }
}

.btn.btn-action {
    height: 3.5rem;
    margin-top: 2rem;
    background-color: #272266;
    color: white;
    font-size: 0.875rem;
    border-radius: 0.313rem;
    font-weight: 500;
    max-height: unset;
    width: 100%;
    font-weight: 700;
}

.btn.btn-action:hover {
    background-color: #10529F;
}

.mat-form-field {
    line-height: 1.5;
}

.forgot-password {
    font-weight: 500;
    font-size: .875rem;
}

@media screen and (max-width: 996px) {
    section.login-form {
        width: 16rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .login-container {
        flex-direction: column;
        height: 100vh;

        .line-left, .line-right {
            width: 100vw;
        }

        .line-left {
            height: 25vh;
        }

        .line-right {
            height: 75vh;
        }
    }

    section.login-form {
        width: 100%;
        margin-left: 12%;
        margin-right: 12%;
    }
}

.sticky-top {
    z-index: 100 !important;
}

.agmo-form {
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
    padding: inherit;
}
