::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-size: 14px;
    opacity: 30%; /* Firefox */
}

.country-code {
    width: 5rem;
    flex-shrink: 0;
}

form input[type=number]::-webkit-outer-spin-button,
form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}