.modal-title {
    color: #0B2696;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.modal-content {
    border-radius: 8px;
    width: max-content;
}

:host .mat-button.secondary.darkgrey {
    border: unset !important;
}

.container-border-line {
    display: flex;
    justify-content: center
}

.upload-container {
    border: 2px #d4d4d4 dashed;
    width: 771px;
    height: 225px;

    .upload-img-container {
        margin: 3.4rem;

        .upload-img {
            width: 69px;
            height: auto;
            display: block;
            margin: auto;
        }

        .upload-label-grey {
            color: #747474;
            font-size: 13px;
        }

        .upload-label-blue {
            color: #8524D1;
            font-size: 13px;
            cursor: pointer;
        }

    }

}

.upload-btn-position {
    margin-right: 2.4rem;
}
