<div>
    <div class="modal-title font-weight-bold">File Upload</div>
</div>

<div class="container-border-line">
    <div draggable="true" class="upload-container">
        <div class="upload-img-container">
            <img class="upload-img" src="/assets/images/icon_upload_file@2x.png">
            <div class="text-center mt-3">
                <div *ngIf="fileName" class="upload-label-blue">
                    File name select : {{fileName}}
                </div>
                <div class="upload-label-grey">
                    Drag and Drop here
                </div>
                <div class="upload-label-grey">
                    or
                </div>
                <div>
                    <span class="upload-label-blue" (click)="file.click()">
                        Browse Files
                        <input type="file"
                           #file
                           [multiple]="false"
                           (change)="onFileChange($event)"
                           style="display:none" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-3 d-flex justify-content-end">
    <button mat-button class="secondary darkgrey font-weight-bold float-right mr-3" (click)="cancel()">
        Cancel
    </button>

    <button mat-button class="primary darkblue font-weight-bold float-right upload-btn-position" (click)="submit()">
        Upload
    </button>
</div>
