.img-bg {
    width: 100%;
    height: 100vh;
}

.success-container {
  position: relative;
  text-align: center;
  color: white;
}

.box-container {
    flex-shrink: 0;
    width: 100%;
    background: white;
}

.box-white {
    position: absolute;
    top: 40%;
    background-color: white;
    color: black;
    width: 100%;
    padding: 2rem 0;
}

.title-text {
    color: black;
    font-size: 28px;
    font-style: normal;
    font-weight: bolder;
    text-align: center;
}

.icon {
    width:3rem;
}

.expired {
    font-size: 18px;
    margin-top: 1rem;
    color: red;
}
