<div class="success-container">
    <img class="img-bg" src="/assets/images/login_bg@2x.png" alt="">
    <div class="box-container">
        <div class="box-white">
            <div *ngIf="!error" class="title-text">
                Your account has been verified !
                <img class="icon" src="/assets/images/approve_circle_green.png" alt="">
            </div>
            <div *ngIf="error">
                <div class="d-flex align-items-center justify-content-center title-text">
                    <div class="mr-3">
                        <div>Your account is unverified</div>
                        <div class="expired">{{errorMessage}}</div>
                    </div>
                    <img class="icon" src="/assets/images/reject_circle_red@2x.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
