
.loader-float {
  position: fixed;
  z-index: 3000;
  background-color: rgba(100, 100, 100, 0.4);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.cssload-loader-inner {
  bottom: 0;
  height: 68px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 113px;
}

.cssload-cssload-loader-line-wrap-wrap {
  animation: cssload-spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -o-animation: cssload-spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -ms-animation: cssload-spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -webkit-animation: cssload-spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -moz-animation: cssload-spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 56px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  width: 113px;
}

.cssload-loader-line-wrap {
  border: 5px solid transparent;
  border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 113px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 113px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) {
  animation-delay: -50ms;
  -o-animation-delay: -50ms;
  -ms-animation-delay: -50ms;
  -webkit-animation-delay: -50ms;
  -moz-animation-delay: -50ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(2) {
  animation-delay: -100ms;
  -o-animation-delay: -100ms;
  -ms-animation-delay: -100ms;
  -webkit-animation-delay: -100ms;
  -moz-animation-delay: -100ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(3) {
  animation-delay: -150ms;
  -o-animation-delay: -150ms;
  -ms-animation-delay: -150ms;
  -webkit-animation-delay: -150ms;
  -moz-animation-delay: -150ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(4) {
  animation-delay: -200ms;
  -o-animation-delay: -200ms;
  -ms-animation-delay: -200ms;
  -webkit-animation-delay: -200ms;
  -moz-animation-delay: -200ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(5) {
  animation-delay: -250ms;
  -o-animation-delay: -250ms;
  -ms-animation-delay: -250ms;
  -webkit-animation-delay: -250ms;
  -moz-animation-delay: -250ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
  border-color: rgb(117,209,249);
  height: 101px;
  width: 101px;
  top: 8px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
  border-color: rgb(87,179,229);
  height: 86px;
  width: 86px;
  top: 16px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
  border-color: rgb(62,148,206);
  height: 70px;
  width: 70px;
  top: 24px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
  border-color: rgb(46,128,195);
  height: 54px;
  width: 54px;
  top: 32px;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
  border-color: rgb(22,113,188);
  height: 38px;
  width: 38px;
  top: 39px;
}




@keyframes cssload-spin {
  0%, 15% {
    transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  0%, 15% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  0%, 15% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  0%, 15% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  0%, 15% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
