.modal-header {
    border: none;

    h5 {
        color: var(--dark-blue);
        font-size: 1rem;
    }
}

.modal-body {
    width: 100%;

    .btn.close {
        font-size: 14px;
    }

    .primary-submit-button {
        width: 99px;
    }
}
