body {
    background-color: #08197c;
}

.container {
    margin-top: 3rem;
    border: grey 1px solid;
    border-radius: 12px;
    width: 600px;
    height: auto;
    box-shadow: 1px 1px 2px grey, 0 0 25px white, 0 0 5px whitesmoke;
    padding-bottom: 5rem;
}

.title-text {
    color: #08197c;
    font-size: 28px;
    font-style: normal;
    font-weight: bolder;
    text-align: center;
}

.date-text {
    color: lightgrey;
    float: left;
}

hr.horizontal-line {
    margin-top: 0.5rem;
    border-top: 1px solid #f0f0f0;
    width: 95%;
  }

.label-title {
    color: #001333;
    float: left;
}

.label-value {
    color: #001333;
    font-weight: bold;
    float: right;
}

.label-status {
    font-weight: bold;
    float: right;
    color: #47beab;
}
