.clickable {
    color: #888888;
    cursor: pointer;
    text-decoration: none;

    &.not-clickable {
        color: #0e35af;
        font-weight: bold;
        pointer-events: none;
        text-decoration: none;
    }

    .people-icon {
        vertical-align: middle;
        width: 13px;
    }
}

.separator {
    padding: 0 5px;
}
