.funds-wrapper {
    background-color: #F7F7FA;
    border-radius: 5px;
    margin-bottom: 16px;
}

.percentage-fund {
    font-weight: bold;
    position: relative;
    right: 22px;
    top: -1px;
}

.percentage-return {
    font-weight: bold;
    position: relative;
    right: 22px;
    top: -1px;
}

.divider {
    background-color: var(--grey);
    height: 1px;
    margin: 0;
}

.subtitle {
    color: #DD6231;
    font-weight: bold;
    margin-bottom: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    height: 40px;
    width: 150px;
    border-radius: 5px;
}
