<div class="table-container">
    <mat-table matSort class="agmo-table bg-white transparent-header-bg" [dataSource]="listingDataSource" (matSortChange)="onSortChange($event)">
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let transactionHistory">{{transactionHistory.index}}</td>
        </ng-container>

        <ng-container matColumnDef="transactionType">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let transactionHistory">
                <div class="d-flex align-items-center">
                    <div class="icon-status" [class]="TRANSACTION_TYPE[transactionHistory.transactionType].cssClass">
                    </div>
                    {{TRANSACTION_TYPE[transactionHistory.transactionType].label}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="sellerOrderNo">
            <th mat-header-cell  *matHeaderCellDef>Seller Order No</th>
            <td mat-cell *matCellDef="let transactionHistory">{{ transactionHistory.sellerOrderNo || '-' }}</td>
        </ng-container>

        <ng-container matColumnDef="ihNo">
            <th mat-header-cell  *matHeaderCellDef>IHNo</th>
            <td mat-cell *matCellDef="let transactionHistory">{{ transactionHistory.ihNo || '-' }}</td>
        </ng-container>

        <ng-container matColumnDef="fundName">
            <th mat-header-cell  *matHeaderCellDef>Fund Name</th>
            <td mat-cell *matCellDef="let transactionHistory">{{ transactionHistory.fundName || '-' }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell  *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let transactionHistory">{{!transactionHistory.amount ? '-' :
                transactionHistory.amount | currency:'MYR':'RM ':'1.2-2'}}</td>
        </ng-container>

        <ng-container matColumnDef="wrapFee">
            <th mat-header-cell  *matHeaderCellDef>Wrap Fee</th>
<!--            <td mat-cell *matCellDef="let transactionHistory">{{ (transactionHistory.wrapFee || 0) | currency:'MYR':'RM ': '1.2-15' }}</td>-->
            <td mat-cell *matCellDef="let transactionHistory">{{ (transactionHistory.wrapFee || 0)  }}</td>
        </ng-container>

        <ng-container matColumnDef="grossAmount">
            <th mat-header-cell  *matHeaderCellDef>Gross Amount</th>
<!--            <td mat-cell *matCellDef="let transactionHistory">{{ transactionHistory.grossAmount || 0 | currency:'MYR':'RM ':'1.2-2' }}</td>-->
            <td mat-cell *matCellDef="let transactionHistory">{{ transactionHistory.grossAmount || 0 }}</td>
        </ng-container>

        <ng-container matColumnDef="transactionStatus">
            <th mat-header-cell  *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let transactionHistory">
                <span class="agmo-status text-nowrap"
                    [ngClass]="transactionHistory.transactionStatus === TransactionStatus.Completed ? 'green' : 'orange'">
                    {{TransactionStatus[transactionHistory.transactionStatus]}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="transactionAt">
            <th mat-header-cell  *matHeaderCellDef>Created At</th>
            <td mat-cell *matCellDef="let transactionHistory">{{!transactionHistory.transactionAt ? '-' :
                transactionHistory.transactionAt | date:'DD-MM-YYYY HH:mm'}}</td>
        </ng-container>

        <ng-container matColumnDef="transactionConfirmationDate">
            <th mat-header-cell  *matHeaderCellDef>Confirmation Date</th>
            <td mat-cell *matCellDef="let transactionHistory">{{!transactionHistory.transactionConfirmationDate ? '-' :
                transactionHistory.transactionConfirmationDate | date:'DD-MM-YYYY HH:mm'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="loading">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                <mat-progress-bar mode="query"></mat-progress-bar>
            </td>
        </ng-container>
        <ng-container matColumnDef="noData">
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-data">No data</td>
        </ng-container>

        <tr class="no-data" mat-footer-row *matFooterRowDef="['loading']" [class.show]="isListingLoading"></tr>
        <tr class="no-data" mat-footer-row *matFooterRowDef="['noData']" [class.show]="isListEmpty()"></tr>
    </mat-table>
</div>

<mat-paginator [length]="pagination.length" [pageSize]="pagination.pageSize" [pageIndex]="pagination.pageIndex"
    [pageSizeOptions]="pagination.pageSizeOptions" (page)="onPaginationChange($event)"></mat-paginator>
