<div class="detail-container m-4">
    <div class="row px-4">
        <div class="col-8 d-flex align-items-center" [class.col-12]="!isCustomer">
            <div>
                <img *ngIf="!userProfilePicture" class="img-profile" src="/assets/images/placeholder_male@2x.png">
                <img *ngIf="userProfilePicture" class="img-profile" src="{{userProfilePicture}}">
            </div>
            <div class="information w-50">
                <div class="detail-data font-size-18 mb-2 d-flex">
                    <div>
                        {{name}}
                    </div>
                    <div *ngIf="isCustomer">
                        <img class="check-logo ml-2" [src]="getCustomerRegistration().image" >
                        <span [ngClass]="getCustomerRegistration().textColor">{{ getCustomerRegistration().label }}</span>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="detail-secondary-data d-flex">
                        <div>
                            <img class="check-logo" src="/assets/images/icon_email@2x.png">
                        </div>
                        <div class="text-dark">
                            {{email}}
                        </div>
                    </div>
                    <div class="detail-secondary-data d-flex ml-2">
                        <div>
                            <img class="check-logo" src="/assets/images/icon_hp@2x.png">
                        </div>
                        <div class="text-dark">
                            {{phoneNumber}}
                        </div>
                    </div>
                </div>
                <div class="advisor-container d-flex position-relative" *ngIf="isCustomer">
                    <div class="opacity-100 text-center ml-2">Advisor</div>
                    <div class="v-line"></div>
                    <div class="advisor-name">{{advisor || '-'}}</div>
                    <img src="/assets/images/pencil.png" class="edit-pen-icon position-absolute" (click)="updateAdvisor()">
                </div>
            </div>
        </div>

        <div class="col-4" *ngIf="isCustomer">
            <div class="d-flex">
                <div>
                    <img class="plan-logo" src="/assets/images/icon_pro_account@2x.png">
                </div>
                <div class="plan-container w-100">
                    <div class="plan-title ml-4">
                        {{CustomerRegisteredAs[registeredAs] || '-'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
